{% if data["username"] is not empty %}
    <div class="ui comments">
        <div class="comment">
            <a class="avatar" href="https://twitter.com/{{ data["username"] }}" target="_blank">
                <img src="{{ data["profile_image"] }}" style="border: 1px solid gray">
            </a>
            <div class="content">
                <a class="author" href="https://twitter.com/{{ data["username"] }}" target="_blank">
                    {{ data["name"] }} {{ (data["is_verified"]) ? "<i class='ui icon check circle blue'></i>" : "" }}
                </a>
                <div class="metadata mx-2">
                    {#Updated {{ data["last_updated_at"] }}#}
                    @{{ data["username"] }}
                </div>
                <div class="">
                    <div class="my-2">
                        <div class="metadata mx-0">
                            <div class="statistic">{{ data["followers_count"] }} Followers</div>
                            <div class="statistic"> {{ data["friends_count"] }} Following</div>
                            <div class="statistic"> {{ data["statuses_count"] }} Statuses</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="ui comments">
        <div class="comment">
            <a class="avatar">
                <img src="{{ data["profile_image"] }}">
            </a>
            <div class="content">
                <a class="author">
                    N/A
                </a>
                <div class="">
                    <div class="metadata m-0">
                        Waiting to be fetched
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}