<div class="ui tiny buttons">
    {% if(data['is_friend']) %}
        <button id="follow_account_{{ data['user_id'] }}"
                class="action-button ui icon blue button tiny p-2 follow_account disabled"
                sm-tw-user-id="{{ data['user_id'] }}" sm-action-url="{{ url('twitter_create_friendship') }}">
            Follow
        </button>
    {% else %}
        <button id="follow_account_{{ data['user_id'] }}"
                class="action-button ui icon blue button tiny p-2 follow_account"
                sm-tw-user-id="{{ data['user_id'] }}" sm-action-url="{{ url('twitter_create_friendship') }}">
            Follow
        </button>
    {% endif %}
    {% if(not data['is_friend']) %}
        <button id="unfollow_account_{{ data['user_id'] }}"
                class="action-button ui icon blue button tiny p-2 unfollow_account disabled"
                sm-tw-user-id="{{ data['user_id'] }}" sm-action-url="{{ url('twitter_destroy_friendship') }}">
            Unfollow
        </button>
    {% else %}
        <button id="unfollow_account_{{ data['user_id'] }}"
                class="action-button ui icon blue button tiny p-2 unfollow_account"
                sm-tw-user-id="{{ data['user_id'] }}" sm-action-url="{{ url('twitter_destroy_friendship') }}">
            Unfollow
        </button>
    {% endif %}
</div>
<span class="mx-1"></span>
<div class="ui tiny buttons mt-1">
    {% if(data['is_muted']) %}
        <button id="mute_account_{{ data['user_id'] }}"
                class="action-button ui icon brown button tiny p-2 mute_account disabled"
                sm-tw-user-id="{{ data['user_id'] }}" sm-action-url="{{ url('twitter_create_mute') }}">
            Mute
        </button>
    {% else %}
        <button id="mute_account_{{ data['user_id'] }}" class="action-button ui icon brown button tiny p-2 mute_account"
                sm-tw-user-id="{{ data['user_id'] }}" sm-action-url="{{ url('twitter_create_mute') }}">
            Mute
        </button>
    {% endif %}
    {% if(not data['is_muted']) %}
        <button id="unmute_account_{{ data['user_id'] }}"
                class="action-button ui icon brown button tiny p-2 unmute_account disabled"
                sm-tw-user-id="{{ data['user_id'] }}" sm-action-url="{{ url('twitter_destroy_mute') }}">
            Unmute
        </button>
    {% else %}
        <button id="unmute_account_{{ data['user_id'] }}"
                class="action-button ui icon brown button tiny p-2 unmute_account"
                sm-tw-user-id="{{ data['user_id'] }}" sm-action-url="{{ url('twitter_destroy_mute') }}">
            Unmute
        </button>
    {% endif %}
</div>
<span class="mx-1"></span>
<div class="ui tiny buttons mt-1">
    {% if(data['is_whitelisted']) %}
        <button id="whitelist_account_{{ data['user_id'] }}"
                class="action-button ui icon green button tiny p-2 destroy_whitelist_account"
                sm-tw-user-id="{{ data['user_id'] }}" sm-action-url="{{ url('twitter_destroy_whitelist') }}">
            Whitelist
        </button>
    {% else %}
        <button id="whitelist_account_{{ data['user_id'] }}"
                class="action-button ui icon black button tiny p-2 whitelist_account"
                sm-tw-user-id="{{ data['user_id'] }}" sm-action-url="{{ url('twitter_create_whitelist') }}">
            Whitelist
        </button>
    {% endif %}
    {% if(data['is_blacklisted']) %}
        <button id="blacklist_account_{{ data['user_id'] }}"
                class="action-button ui icon red button tiny p-2 destroy_blacklist_account"
                sm-tw-user-id="{{ data['user_id'] }}" sm-action-url="{{ url('twitter_destroy_blacklist') }}">
            Blacklist
        </button>

    {% else %}
        <button id="blacklist_account_{{ data['user_id'] }}"
                class="action-button ui icon black button tiny p-2 blacklist_account"
                sm-tw-user-id="{{ data['user_id'] }}" sm-action-url="{{ url('twitter_create_blacklist') }}">
            Blacklist
        </button>
    {% endif %}
</div>
<script>
    var create_whitelist_url = "{{ url('twitter_create_whitelist') }}";
    var create_blacklist_url = "{{ url('twitter_create_blacklist') }}";
    var destroy_whitelist_url = "{{ url('twitter_destroy_whitelist') }}";
    var destroy_blacklist_url = "{{ url('twitter_destroy_blacklist') }}";
    var mute_url = "{{ url('twitter_create_mute') }}";
    var unmute_url = "{{ url('twitter_destroy_mute') }}";
    var follow_url = "{{ url('twitter_create_friendship') }}";
    var unfollow_url = "{{ url('twitter_destroy_friendship') }}";
</script>