{% if data["username"] is not empty %}

    <div class="b-row">
        <div class="col-12">
            <div class="b-row">
                <div class="col-6 col-sm-4 col-md-3 col-lg-3">
                    <a href="https://twitter.com/{{ data["username"] }}" target="_blank" class="ui medium image">
                        <img src="{{ data["profile_image"] | replace({"_normal": ""}) }}"
                             style="border: 1px solid gray">
                    </a>
                </div>
                <div class="col-6 col-sm-8 col-md-9 col-lg-9">
                    <div class="ui content mt-1">
                        <h2 class="ui header">
                            <a href="https://twitter.com/{{ data["username"] }}"
                               target="_blank">
                                {{ data["name"] }} {{ (data["is_verified"]) ? "<i class='ui icon check circle blue'></i>" : "" }}
                            </a>
                            <div class="sub header">
                                <a href="https://twitter.com/{{ data["username"] }}" target="_blank">
                                    @{{ data["username"] }}
                                </a>
                            </div>
                        </h2>
                    </div>
                    <div class="d-none d-sm-block d-md-block d-lg-block">
                        <div class="ui extra">
                            <div class="ui mini statistics mt-3 pb-0">
                                <div class="statistic">
                                    <div class="value">
                                        {{ data["followers_count"] }}
                                    </div>
                                    <div class="label">
                                        Followers
                                    </div>
                                </div>
                                <div class="statistic">
                                    <div class="value">
                                        {{ data["friends_count"] }}
                                    </div>
                                    <div class="label">
                                        Following
                                    </div>
                                </div>
                                <div class="statistic">
                                    <div class="value">
                                        {{ data["statuses_count"] }}
                                    </div>
                                    <div class="label">
                                        Statuses
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui extra">
                            <div class="metadata">
                                <style>
                                    .action-button {
                                        width: 70px;
                                    }
                                </style>
                                {{ actions | raw }}
                            </div>
                            <div class="ui divider"></div>
                            <div class="metadata mt-3">
                                <button class="ui blue button fetch-followers-action mt-1"
                                        action-url="{{ url('twitter_account_followers') }}"
                                        tw-username="{{ data["username"] }}">
                                    Show Followers
                                </button>
                                <button class="ui blue button fetch-friends-action mt-1"
                                        action-url="{{ url('twitter_account_friends') }}"
                                        tw-username="{{ data["username"] }}">Show
                                                                             Following
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 d-block d-sm-none d-md-none d-lg-none">
            <div class="ui extra">
                <div class="ui mini statistics mt-3 pb-0">
                    <div class="statistic">
                        <div class="value">
                            {{ data["followers_count"] }}
                        </div>
                        <div class="label">
                            Followers
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="value">
                            {{ data["friends_count"] }}
                        </div>
                        <div class="label">
                            Following
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="value">
                            {{ data["statuses_count"] }}
                        </div>
                        <div class="label">
                            Statuses
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui extra">
                <div class="metadata mt-4">
                    <style>
                        .action-button {
                            width: 70px;
                        }
                    </style>
                    {{ actions | raw }}
                </div>
                <div class="ui divider"></div>
                <div class="metadata mt-3">
                    <button class="ui blue button fetch-followers-action mt-1"
                            action-url="{{ url('twitter_account_followers') }}" tw-username="{{ data["username"] }}">
                        Show Followers
                    </button>
                    <button class="ui blue button fetch-friends-action mt-1"
                            action-url="{{ url('twitter_account_friends') }}" tw-username="{{ data["username"] }}">Show
                                                                                                                   Following
                    </button>
                </div>
            </div>

        </div>
    </div>
{% else %}
    <div class="ui comments">
        <div class="comment">
            <a class="avatar">
                <img src="{{ data["profile_image"] }}">
            </a>
            <div class="content">
                <a class="author">
                    N/A
                </a>
                <div class="">
                    <div class="metadata m-0">
                        Waiting to be fetched
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}