{% extends 'base.html.twig' %}
{% block title %}{{ tw_username }} Followers{% endblock %}
{% block stylesheets %}
    {{ include('includes/conf/datatables-stylesheets.html.twig') }}

{% endblock %}
{% block body %}
    <div class="b-row">
        <div class="col-sm-12 col-md-12 col-lg-12 offset-sm-0 offset-md-0 offset-lg-0">
            <h2 class="ui header purple">
                <i class="users icon"></i>
                <div class="content">
                    Followers of {{ tw_username }}
                </div>
            </h2>
        </div>
    </div>
    <div class="b-row">
        <div class="col-sm-12 col-md-12 col-lg-12 offset-sm-0 offset-md-0 offset-lg-0">
        </div>
    </div>
    <div class="b-row">
        <div class="col-sm-12 col-md-12 col-lg-12 offset-sm-0 offset-md-0 offset-lg-0">
            <section class="ui segment w-100 px-0 px-sm-0 px-md-3 px-lg-5">
                <table id="users_table" class="ui unstackable purple table w-100"
                       cellspacing="0">
                    <thead>
                        <tr>
                            <th class="one wide">
                                <div class="ui fitted checkbox select_all">
                                    <input type="checkbox"/>
                                    <label></label>
                                </div>
                            </th>
                            <th class="five wide">User</th>
                            <th class="seven wide">Actions</th>
                        </tr>
                    </thead>

                </table>
            </section>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ include('includes/conf/datatables-javascripts.html.twig') }}
    {{ include('includes/conf/ajax-queue-table-actions.html.twig') }}
    <script type="text/javascript" src="{{ asset("assets/js/twitter-profile-actions-for-row.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/js/table-filters.js") }}"></script>
    <script>
        var table;
        var table_filters = ['followers', 'following', 'muted', 'whitelisted', 'blacklisted', 'profile_pic', 'verified_accounts'];

        $(document).ready(function () {
            table = $('#users_table').DataTable({
                "initComplete": function (settings, json) {
                    createBulkActionsButton();
                    createFiltersForTable(table_filters);
                    bindBulkActions();
                },
                "ajax": {
                    "url": "{{ url('twitter_account_followers_ajax', {'tw_username': tw_username}) }}",
                    "type": "POST",
                    "data": function (d) {
                        d.tw_username = "{{ tw_username }}";
                        d = addFilterParams(d);
                    }
                },
                "columns": [
                    {
                        "data": null, "orderable": false, "bSearchable": false, "className": "",
                        render: function (data, type, row) {
                            var checkbox = '<div class="ui fitted checkbox select_row">\n' +
                                '    <input type="checkbox" value="' + data['user_id'] + '">\n' +
                                '    <label></label>\n' +
                                '  </div>';
                            return checkbox;
                        }
                    },
                    {"data": "profile_card", "orderable": false},
                    {"data": "profile_actions", "orderable": false, "bSearchable": false}
                ],
                "order": [],
                createdRow: function (row, data, dataIndex) {
                    if (data['is_whitelisted']) {
                        $(row).addClass('rowWhiteListBorder');
                    } else if (data['is_blacklisted']) {
                        $(row).addClass('rowBlackListBorder');
                    }
                },
                drawCallback: function () {
                    bindTableEvents();
                }
            });
            $('#users_table_filter input').unbind();
            $('#users_table_filter input').change(function () {
                table.search($(this).val()).draw();
            });
            ;
        });

    </script>
{% endblock %}