{% extends 'base.html.twig' %}
{% block title %}Twitter Dashboard{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <div class="b-row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1">
            <div class="ui raised segment left aligned">
                <form class="ui form" id="twitter-user-search-form">
                    <div class="field">
                        <label>Search twitter account</label>
                        <div class="ui fluid action input">
                            <input type="text" class="twitter-user-search-input"
                                   placeholder="Enter twitter username (e.g ManageTweeps)">
                            <button class="ui purple icon button twitter-user-search-button">Search</button>
                        </div>
                    </div>
                </form>
                <div class="mt-5 w-100">
                    <div class="b-row">
                        <div class="col-12 twitter-user-search-output">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if isDataAvailable or 1 %}
        <div class="b-row mt-5">
            <div class="col-sm-10 col-md-10 col-lg-10 offset-sm-1 offset-md-1 offset-lg-1">
                <div class="ui center aligned padded stackable grid">
                    <div class="row">
                        <div class="five wide column">
                            <a href="{{ url('twitter_followers') }}">
                                <div class="ui raised green segment">
                                    <div class="ui green statistic">
                                        <div class="value">
                                            {{ newFollowers }}
                                        </div>
                                        <div class="label">
                                            New Followers
                                        </div>
                                        <div class="label">
                                            {{ lastFetchedDate }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="five wide column">
                            <a href="{{ url('twitter_friends') }}">
                                <div class="ui raised blue segment">
                                    <div class="ui blue statistic">
                                        <div class="value">
                                            {{ newFriends }}
                                        </div>
                                        <div class="label">
                                            New Following
                                        </div>
                                        <div class="label">
                                            {{ lastFetchedDate }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="five wide column">
                            <a href="{{ url('twitter_unfollowers') }}">
                                <div class="ui raised red segment">
                                    <div class="ui red statistic">
                                        <div class="value">
                                            {{ newUnfollowers }}
                                        </div>
                                        <div class="label">
                                            New Unfollowers
                                        </div>
                                        <div class="label">
                                            {{ lastFetchedDate }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-row mt-1">
            <div class="col-sm-10 col-md-10 col-lg-10 offset-sm-1 offset-md-1 offset-lg-1">
                <div class="ui center aligned padded stackable grid">
                    <div class="row">
                        <div class="five wide column">
                            <a href="{{ url('twitter_followers') }}">
                                <div class="ui inverted raised green segment">
                                    <div class="ui inverted statistic">
                                        <div class="value">
                                            {{ totalFollowers }}
                                        </div>
                                        <div class="label">
                                            Total Followers
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="five wide column">
                            <a href="{{ url('twitter_friends') }}">
                                <div class="ui inverted raised blue segment">
                                    <div class="ui inverted statistic">
                                        <div class="value">
                                            {{ totalFriends }}
                                        </div>
                                        <div class="label">
                                            Total Following
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="five wide column">
                            <a class="theme-white-color" href="{{ url('twitter_unfollowers') }}">
                                <div class="ui inverted raised red segment">
                                    <div class="ui inverted statistic">
                                        <div class="value">
                                            {{ totalUnfollowers }}
                                        </div>
                                        <div class="label">
                                            Total Unfollowers
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}
{% block javascripts %}
    <script language="JavaScript" src="{{ asset('assets/external/DataTable/js/jquery.dataTables.js') }}"
            type="text/javascript"></script>

    <script language="JavaScript" src="{{ asset('assets/external/AjaxQ/ajaxq.js') }}"
            type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset("assets/js/twitter-profile-actions-for-row.js") }}"></script>
    <script>
        $(document).ready(function () {
            $('#twitter-user-search-form').submit(function (e) {
                e.preventDefault();
                var username = $('.twitter-user-search-input').val();
                if (!username) {
                    new Noty({
                        type: "warning",
                        text: "Enter username to search."
                    }).show();
                    return false;
                }
                var data = {
                    'tw_username': username
                };
                $('.twitter-user-search-button').addClass('loading disabled');
                jQuery.ajax({
                    url: "{{ url('twitter_search_account_ajax') }}",
                    data: data
                }).done(function (result) {
                        if (result['success']) {
                            var profile_card = result['output'];
                            $('.twitter-user-search-output').html(profile_card);
                            bindTableEvents();
                            bindFetchFollowersFriendsAction();
                        } else {
                            new Noty({
                                type: "error",
                                text: result['error'],
                                timeout: false
                            }).show();
                        }

                    }
                ).fail(function () {
                    new Noty({
                        type: "error",
                        text: "An error occurred, please try again.",
                        timeout: false,
                    }).show();
                }).always(function () {
                    $('.twitter-user-search-button').removeClass('loading disabled');
                });
            });

        });

        function bindFetchFollowersFriendsAction() {
            $('.fetch-followers-action, .fetch-friends-action').click(function () {
                var elem = $(this);
                $(this).addClass('loading disabled');
                new Noty({
                    type: "info",
                    text: "Please wait a few seconds while we fetch friends and followers of @" + elem.attr('tw-username'),
                }).show();
                var url = "{{ url('twitter_fetch_followers_friends') }}/" + elem.attr('tw-username');
                var action_url = elem.attr('action-url');
                jQuery.ajax({
                    url: url,
                }).done(function (result) {
                        if (result['success']) {
                            window.location.href = action_url + "/" + result['tw_username'];
                        } else {
                            new Noty({
                                type: "error",
                                text: result['error'],
                                timeout: false
                            }).show();
                        }

                    }
                ).fail(function () {
                    new Noty({
                        type: "error",
                        text: "An error occurred, please try again.",
                        timeout: false,
                    }).show();
                }).always(function () {
                    elem.removeClass('loading disabled');
                });
            });
        }


    </script>
{% endblock %}