{% extends 'base.html.twig' %}
{% block title %}Search Twitter Account{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <div class="b-row">
        <div class="col-sm-12 col-md-12 col-lg-12 offset-sm-0 offset-md-0 offset-lg-0">
            <h1 class="ui center aligned header purple">
                <div class="content">
                    Search twitter account
                </div>
            </h1>
        </div>
    </div>
    <div class="b-row mt-5">
        <div class="col-12 col-sm-10 col-md-10 col-lg-8 offset-sm-1 offset-md-1 offset-lg-2">
            <div class="ui center aligned padded stackable grid">
                <div class="row">
                    <div class="twelve wide column left aligned">
                        <div class="ui raised segment">
                            <form class="ui form" id="twitter-user-search-form">
                                <div class="ui fluid input">
                                    <input type="text" class="twitter-user-search-input"
                                           placeholder="Enter twitter username (e.g ManageTweeps)">
                                </div>
                                <button class="ui primary button my-2 twitter-user-search-button" type="submit">
                                    Search User
                                </button>
                            </form>
                            <div class="mt-5 w-100">
                                <div class="b-row">
                                    <div class="col-12 twitter-user-search-output">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#twitter-user-search-form').submit(function (e) {
                e.preventDefault();
                var username = $('.twitter-user-search-input').val();
                if (!username) {
                    new Noty({
                        type: "warning",
                        text: "Enter username to search."
                    }).show();
                    return false;
                }
                var data = {
                    'tw_username': username
                };
                $('.twitter-user-search-button').addClass('loading disabled');
                jQuery.ajax({
                    url: "{{ url('twitter_search_account_ajax') }}",
                    data: data
                }).done(function (result) {
                        if (result['success']) {
                            var profile_card = "<div class='ui attached segment'>" + result['output'] + "</div>"
                                + "<div class=\"ui bottom attached buttons\">\n" +
                                "  <button class=\"ui blue button fetch-followers-action\" action-url={{ url('twitter_account_followers') }} tw-username='" + result['tw_username'] + "'>Show Followers</button>\n" +
                                "  <button class=\"ui blue button fetch-friends-action\" action-url={{ url('twitter_account_friends') }} tw-username='" + result['tw_username'] + "'>Show Following</button>\n" +
                                "</div>";
                            $('.twitter-user-search-output').html(profile_card);
                            bindFetchFollowersFriendsAction();
                        } else {
                            new Noty({
                                type: "error",
                                text: result['error'],
                                timeout: false
                            }).show();
                        }

                    }
                ).fail(function () {
                    new Noty({
                        type: "error",
                        text: "An error occurred, please try again.",
                        timeout: false,
                    }).show();
                }).always(function () {
                    $('.twitter-user-search-button').removeClass('loading disabled');
                });
            });

        });

        function bindFetchFollowersFriendsAction() {
            $('.fetch-followers-action, .fetch-friends-action').click(function () {
                var elem = $(this);
                $(this).addClass('loading disabled');
                new Noty({
                    type: "info",
                    text: "Please wait a few seconds while we fetch friends and followers of @" + elem.attr('tw-username'),
                }).show();
                var url = "{{ url('twitter_fetch_followers_friends') }}/" + elem.attr('tw-username');
                var action_url = elem.attr('action-url');
                jQuery.ajax({
                    url: url,
                }).done(function (result) {
                        if (result['success']) {
                            window.location.href = action_url + "/" + result['tw_username'];
                        } else {
                            new Noty({
                                type: "error",
                                text: result['error'],
                                timeout: false
                            }).show();
                        }

                    }
                ).fail(function () {
                    new Noty({
                        type: "error",
                        text: "An error occurred, please try again.",
                        timeout: false,
                    }).show();
                }).always(function () {
                    elem.removeClass('loading disabled');
                });
            });
        }

    </script>
{% endblock %}