{% extends 'base.html.twig' %}
{% block title %}Stats {{ twUsername }}{% endblock %}
{% block stylesheets %}
    {{ include('includes/conf/datatables-stylesheets.html.twig') }}
{% endblock %}
{% block body %}
    <div class="b-row">
        <div class="col-sm-12 col-md-12 col-lg-12 offset-sm-0 offset-md-0 offset-lg-0">
            <h2 class="ui header purple">
                <i class="chart line icon"></i>
                <div class="content">
                    Stats {{ twUsername }}
                </div>
            </h2>
        </div>
    </div>
    <div class="b-row">
        <div class="col-sm-12 col-md-12 col-lg-12 offset-sm-0 offset-md-0 offset-lg-0">
        </div>
    </div>
    <div class="b-row">
        <div class="col-sm-12 col-md-12 col-lg-12 offset-sm-0 offset-md-0 offset-lg-0">
            <section class="ui segment w-100 px-0 px-sm-0 px-md-3 px-lg-5">
                <table id="stats_table" class="ui unstackable purple table w-100"
                       cellspacing="0">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Followers</th>
                            <th>Following</th>
                            <th>Unfollowers</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>

                </table>
            </section>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ include('includes/conf/datatables-javascripts.html.twig') }}
    <script>
        $(document).ready(function () {
            var table = $('#stats_table').DataTable({
                "bFilter": false,
                "responsive": false,
                "processing": true,
                "serverSide": true,
                "info": true,
                "stateSave": true,
                "scrollX": true,
                "pagingType": 'full_numbers',
                "lengthMenu": [[10, 50, 100, 250], [10, 50, 100, 250]],
                "ajax": {
                    "url": "{{ url('twitter_stats_details_ajax') }}",
                    "type": "POST"
                },
                "columns": [
                    {"data": "date_table", "orderable": true},
                    {"data": "followers", "orderable": false},
                    {"data": "friends", "orderable": false},
                    {"data": "unfollowers", "orderable": false},
                ],
                "order": [[0, "desc"]],
                "initComplete": function (settings, json) {
                    $("div.filters").hide();
                },
            });
            $('#stats_table').on('processing.dt', function (e, settings, processing) {
                if (processing) {
                    $('#stats_table').LoadingOverlay('show');
                } else {
                    $('#stats_table').LoadingOverlay('hide', true);
                }
            });
        });


    </script>
{% endblock %}