{% extends 'base.html.twig' %}
{% block title %}Super Actions{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <div class="b-row">
        <div class="col-sm-12 col-md-12 col-lg-12 offset-sm-0 offset-md-0 offset-lg-0">
            <h1 class="ui center aligned header purple">
                <div class="content">
                    Super Actions
                    <div class="sub header">
                        Super actions are designed in a way to help you boost your twitter account
                    </div>
                </div>
            </h1>
        </div>
    </div>
    <div class="b-row mt-5">
        <div class="col-sm-10 col-md-10 col-lg-10 offset-sm-1 offset-md-1 offset-lg-1">
            <div class="ui center aligned padded stackable grid">
                <div class="row">
                    <div class="five wide column">
                        <a href="{{ url('twitter_search_account') }}">
                            <div class="ui green button">
                                <h3 class="ui center aligned inverted header">
                                    <div class="content">
                                        Follow All Followers
                                        <div class="sub header">
                                            Follow the followers/following of a twitter user
                                        </div>
                                    </div>
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
{% endblock %}