{% extends "base_raw.html.twig" %}

{% block title %}Sign up now, It's Free{% endblock %}
{% block description %}Sign up now to get access to the best twitter management tools available today.{% endblock %}


{% block body %}
    <div class="ui basic fullscreen modal" id="terms-and-conditions-modal">
        <i class="ui close icon" style="color: white"></i>
            {{ render(controller('App\\Controller\\DefaultController::tCRawAction')) }}
        <div class="actions mb-5">
            <div class="ui cancel button">Close</div>
          </div>
    </div>
    {% form_theme form 'form/form_theme.html.twig' %}
    {{ form_start(form, {'attr': {'class': 'ui medium fluid form inverted', 'name': 'UserRegistration'}}) }}
<div class="ui stackable grid">
    <div class="row centered">
        <div class="six wide column">
            <h2 class="ui icon center aligned header inverted">
                <a class="ui image" href="{{ url('homepage') }}"><img
                            src="{{ asset('ManageTweeps_256.png') }}"/></a>
                <div class="content">
                    <div class="ui divider"></div>
                    Create Account
                    <div class="sub header">Create an account to use our services <strong>for free</strong>!</div>
                </div>
            </h2>
            <div class="ui hidden divider"></div>
            <div class="two fields">
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
            </div>
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
            {% if enable_recaptcha_sitewide %}
                <div class="">
                    <div class="g-recaptcha" data-sitekey="{{ recaptcha_public_key }}"></div>
                </div>
            {% endif %}
        </div>
    </div>
    <input type="hidden" name="_registration_csrf_token" value="{{ csrf_token('authenticate') }}">
    <div class="row centered">
        <div class="six wide column">
            <div class="ui checkbox">
                <input type="checkbox" class="ui checkbox" id="user_registration_acceptPolicies"
                       name="acceptPolicies"
                       required="required">
                <label for="user_registration_acceptPolicies" class="required">I agree to <a
                            class="theme-grey-color hyperlink" id="terms-and-conditions-link" href="{{ url('terms_conditions') }}" target="_blank">terms
                        and conditions</a>.</label>
            </div>
        </div>
    </div>
    <div class="row centered">
        <div class="six wide column">
            <button class="ui fluid positive button" type="submit">Sign up</button>
            <div class="ui horizontal divider">
                <span class="theme-white-color">Already registered?</span>
            </div>
            <a href="{{ url('security_login') }}" class="ui fluid button">
                Login
            </a>
        </div>
    </div>

    {{ form_end(form) }}


{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function() {
    $('#terms-and-conditions-link').on('click', function(e) {
        e.preventDefault();
      $('#terms-and-conditions-modal').modal('show');
    });
});
</script>
{% endblock %}