{% extends "base_raw.html.twig" %}

{% block title %}Recover account password{% endblock %}
{% block description %}Recover your password using your registered email address.{% endblock %}

{% block body %}
    <div class="ui stackable grid">
        {%  if reset_password == true %}
            <div class="row centered">
                <div class="six wide column">

                    <div class="ui hidden divider"></div>
                    <h2 class="ui icon center aligned header inverted">
                        <a class="ui image" href="{{ url('homepage') }}"><img
                                    src="{{ asset('ManageTweeps_256.png') }}"/></a>
                        <div class="content">
                            <div class="ui divider"></div>
                            Recover password
                            <div class="sub header">Recover your password using your email address</div>
                        </div>
                    </h2>
                </div>
            </div>
        {% endif %}
        {%  if reset_password == true %}
            <div class="row centered">
                <div class="six wide column">
                    <form class="ui form inverted" method="POST" action="{{ url('security_forgot_password') }}">
                        <div class="field">
                            <label for="_email">Enter Email</label>
                            <input type="email" name="_email" id="_email" required>
                        </div>
                        {% if enable_recaptcha_sitewide %}
                            <div class="field">
                                <div class="g-recaptcha" data-sitekey="{{ recaptcha_public_key }}"></div>
                            </div>
                        {% endif %}
                        <div class="field">
                            <button type="submit" class="ui fluid button">Send Reset Link</button>
                            <div class="ui hidden divider"></div>
                            <div class="ui hidden divider"></div>
                            <div class="ui hidden divider"></div>
                            <div class="ui hidden divider"></div>
                            <div class="ui horizontal divider">
                                <span class="theme-white-color">Already have password?</span>
                            </div>
                            <a href="{{ url('security_login') }}" class="ui fluid positive button">
                                Login
                            </a>
                            <div class="ui horizontal divider">
                                <span class="theme-white-color">Don't have an account?</span>
                            </div>
                            <a href="{{ url('user_registration') }}" class="ui fluid button">
                                Sign up
                            </a>
                        </div>
                    </form>
                </div>
            </div>

        {% endif %}
    </div>
{% endblock %}