{% extends 'base_raw.html.twig' %}

{% block title %}Login{% endblock %}
{% block description %}Login now to access the powerful management dashboard of Manage Tweeps.{% endblock %}

{% block body %}

    <form class="ui inverted form" action="{{ url('security_login') }}" method="post">
        <div class="ui stackable padded grid">
            <div class="row centered">
                <div class="six wide column left aligned">
                    <div class="ui hidden divider"></div>
                    <h2 class="ui icon center aligned header inverted">
                        <a class="ui image" href="{{ url('homepage') }}"><img
                                    src="{{ asset('ManageTweeps_256.png') }}"/></a>
                        <div class="content">
                            <div class="ui divider"></div>
                            {{ website_title }}
                            <div class="sub header">Please login to access {{ website_title }}</div>
                        </div>
                    </h2>
                    {% if error %}
                        <div class="ui negative message">
                            <i class="ui close icon"></i>
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <div class="ui hidden divider"></div>
                    <div class="field">
                        <label for="username">Email</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" />
                    </div>
                    <div class="field">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="_password" />
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" id="remember_me" name="_remember_me" />
                                <label for="remember_me">Remember me</label>
                            </div>
                        </div>
                        <div class="field">
                            <label style="float: right;"><a class="theme-white-color" style="text-decoration: underline; color: white;" href="{{ url('security_forgot_password') }}">Forgot your password?</a></label>
                        </div>
                    </div>
                    {% if enable_recaptcha_on_login %}
                    <div class="field">
                            <div class="g-recaptcha" data-sitekey="{{ recaptcha_public_key }}"></div>
                    </div>
                    {% endif %}
                    <div class="field">
                        <button class="ui fluid positive button" type="submit">Login</button>
                        <div class="ui horizontal divider">
                            <span class="theme-white-color">Not registered?</span>
                        </div>
                        <a href="{{ url('user_registration') }}" class="ui fluid button">
                            Sign up
                        </a>
                    </div>

                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>
    </form>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('.ui.checkbox').checkbox();
        });
    </script>
{% endblock %}
