{% extends "base_raw.html.twig" %}

{% block title %}Reset password{% endblock %}
{% block description %}Reset password{% endblock %}

{% block body %}
    <div class="ui stackable grid">
        <div class="row centered">
            <div class="six wide column">

                <div class="ui hidden divider"></div>
                <h2 class="ui icon center aligned header inverted">
                    <a class="ui image" href="{{ url('homepage') }}"><img
                                src="{{ asset('ManageTweeps_256.png') }}"/></a>
                    <div class="content">
                        <div class="ui divider"></div>
                        Reset your password
                        <div class="sub header">Enter new password, choose a strong one</div>
                    </div>
                </h2>
            </div>
        </div>
        <div class="row centered">
            <div class="six wide column">
                <form class="ui form inverted" method="POST" action="{{ url('security_reset_password') }}">
                    <div class="field">
                        <label for="_password">Enter New Password</label>
                        <input type="password" name="_password" id="_password" required>
                    </div>
                    <input type="hidden" name="_reset_key" id="_reset_key" required value="{{ reset_password_key }}">
                    <div class="field">
                        <button type="submit" class="ui fluid button">Reset Password</button>

                        <div class="ui hidden divider"></div>
                        <div class="ui hidden divider"></div>
                        <div class="ui hidden divider"></div>
                        <div class="ui hidden divider"></div>
                        <div class="ui horizontal divider">
                            <span class="theme-white-color">Already have password?</span>
                        </div>
                        <a href="{{ url('security_login') }}" class="ui fluid positive button">
                            Login
                        </a>
                        <div class="ui horizontal divider">
                            <span class="theme-white-color">Don't have an account?</span>
                        </div>
                        <a href="{{ url('user_registration') }}" class="ui fluid button">
                            Sign up
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}