<!DOCTYPE html>
<html>
<head>
    <title>Unfollowers Bulk Actions & Unlimited Filters - Manage Tweeps</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description"
          content="Find who unfollowed you on twitter with simple yet advanced features to manage your account, be productive and become an influencer on Twitter."/>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}"/>

    <link href="{{ asset('assets/external/semantic-ui/semantic.min.css') }}" rel="stylesheet"/>

    <link href="{{ asset('assets/css/bt-utils.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/bootstrap-grid.css') }}" rel="stylesheet"/>

    <!-- aos css -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <!-- carousel css -->
    <link rel="stylesheet" href="{{ asset('assets/external/carousel/css/style.css') }}"/>
    <!--screenshot carousel css -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <!--video-js css -->
    <link rel="stylesheet" href="https://unpkg.com/video.js/dist/video-js.css"/>

    <!-- custom css -->
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}"/>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59421033-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-59421033-6', {'site_speed_sample_rate': 10});
    </script>

</head>
<body>
<!--Preloader-->
<div id="preloader" class="preloader">
    <div class="loader">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
        <div class="bar6"></div>
    </div>
</div>
<!--end preloader-->

<!-- Side Menu -->
<div class="ui inverted labeled icon left inline vertical sidebar menu
  mt-sidebar">
    <a class="item" onclick="$('body').animatescroll({scrollSpeed:1000,padding:80});">
        <i class="home icon"></i>
        Home
    </a>
    <a class="item" onclick="$('.features').animatescroll({scrollSpeed:1000,padding:80});">
        <i class="block layout icon"></i>
        Feature
    </a>
    <a class="item" onclick="$('.pricing').animatescroll({scrollSpeed:1000,padding:80});">
        <i class="usd icon"></i>
        Pricing
    </a>
    <a class="item" onclick="$('.gallery').animatescroll({scrollSpeed:1000,padding:80});">
        <i class="camera icon"></i>
        Gallery
    </a>
    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
        <a class="item" href="{{ url('dashboard_home') }}">
            <i class="dashboard icon"></i>
            {{ app.user.firstName }}
        </a>
        <a class="item" href="{{ url('logout') }}">
            <i class="sign out icon"></i>
            Logout
        </a>
    {% else %}
        <a class="item" href="{{ url('security_login') }}">
            <i class="sign in icon"></i>
            Login
        </a>
        <a class="item" href="{{ url('user_registration') }}">
            <i class="user icon"></i>
            Sign Up
        </a>
    {% endif %}
</div>

<!--pushable segment -->

<div class="pusher">

    <!-- normal menu not for mobile  -->
    <div class="ui top fixed menu mt-menu" id="mt_nav">
        <div class="mt-logo">
            <a href="/">
                <img class="ui tiny image" src="{{ asset('ManageTweeps_white_128.png') }}">
            </a>
        </div>
        <div class="right menu right-menu">
            <a class="item" onclick="$('body').animatescroll({scrollSpeed:1000,padding:80});">
                Home</a>
            <a class="item" onclick="$('#features').animatescroll({scrollSpeed:1000,padding:85});">
                Features</a>
            <a class="item" onclick="$('.works').animatescroll({scrollSpeed:1000,padding:85});">
                How It Works</a>
            <a class="item" onclick="$('.pricing').animatescroll({scrollSpeed:1000,padding:85});">
                Pricing</a>
            <a class="item" onclick="$('.gallery').animatescroll({scrollSpeed:1000,padding:85});">
                Gallery</a>
            {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                <a class="item nohover mx-0" href="{{ url('dashboard_home') }}">
                    <button class="ui small button text-nowrap">Dashboard ({{ app.user.firstName }})</button>
                </a>
                <a class="item nohover mx-0" href="{{ url('logout') }}">
                    <button class="ui small button text-nowrap">Logout</button>
                </a>
            {% else %}
                <a class="item nohover" href="{{ url('security_login') }}">
                    <button class="ui small button">Login</button>
                </a>
                <a class="item nohover" href="{{ url('user_registration') }}">
                    <button class="ui small button text-nowrap">Sign Up</button>
                </a>
            {% endif %}
        </div>
    </div> <!--/menu-->

    <!-- menu for mobile  -->
    <div class="ui top attached demo menu mob-menu" id="mt_nav2">
        <a id="toggle" class="item left">
            <i class="sidebar icon"></i>
            Menu
        </a>
        <a class="right pt-3 pb-3 pr-5" href="/">
            <img src="{{ asset('ManageTweeps_white_128.png') }}" alt="logo"/>
        </a>
    </div>

    <div class="container-fluid mt-header" id="#home">

        <div class="b-row">
            <div class="col-xl-6 col-lg-6 col-md-6 offset-xl-3 offset-lg-3
 offset-md-3 text-center" data-aos="fade-up">
                <h1 class="ui header">
                    Increase your productivity on Twitter
                </h1>
                <p>
                    ManageTweeps provides a creative way to manage your twitter account more easily and in a
                    more productive way.
                </p>
            </div>
        </div>  <!--/row-->
        <br><br>
        <!-- Header Carousel -->
        <div class="b-row">
            <div class="col-md-12" data-aos="fade-up">

                <div id="carousel">
                    <div class="prev">
                        <ul class="nav carousel-content text-center	">
                            <li>FREE</li>
                            <li><span>Free</span>
                                <del>$0/mo</del>
                            </li>
                            <li>1 Twitter account</li>
                            <li>A pack of actions</li>
                            <li>Limited account updates</li>
                            <li>Limited access to advance features</li>
                            <li><a href="{{ url('user_registration') }}" class="ui  button">CHOOSE</a></li>
                        </ul>
                    </div>

                    <div class="selected">
                        <ul class=" carousel-content text-center	">
                            <li>PRO (Coming Soon)</li>
                            <li><span>Free</span>
                                <del>$5/mo</del>
                            </li>
                            <li>5 Twitter account</li>
                            <li>A power pack of actions</li>
                            <li>Unlimited account updates</li>
                            <li>Unlimited access to advance features</li>
                            <li><a href="{{ url('user_registration') }}" class="ui  button">CHOOSE</a></li>
                        </ul>
                    </div>

                    <div class="next">
                        <ul class="nav carousel-content text-center	">
                            <li>PREMIUM (Coming Soon)</li>
                            <li><span>Free</span>
                                <del>$10/mo</del>
                            </li>
                            <li>10 Twitter accounts</li>
                            <li>Unlimited pack of actions</li>
                            <li>Unlimited account updates</li>
                            <li>Unlimited access to advance features</li>
                            <li><a href="{{ url('user_registration') }}" class="ui  button">CHOOSE</a></li>
                        </ul>
                    </div>

                </div>
                <div class="buttons">
                    <button class="" id="prev"> <</button>
                    <button class="" id="next"> ></button>
                </div>

            </div> <!--col-->
        </div> <!--row-->

    </div> <!--/container-fluid-->

    <div class="container-fluid">
        <div class="b-row info-part">

            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4" data-aos="fade-up">
                <i class="huge rocket icon "></i>
                <h1 class="ui header">Boost you account</h1>
                <p class="ui basic segment">
                    We are providing multiple action based features to boost your twitter account via a simple yet
                    attractive management panel.
                </p>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4" data-aos="fade-up">
                <i class=" huge globe icon "></i>
                <h1 class="ui header">Web/Mobile accessible</h1>
                <p class="ui basic segment">
                    Our system is ready to use on any browser of computer or mobile, so you have the leverage to use
                    ManageTweeps anytime, anywhere.
                </p>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4" data-aos="fade-up">
                <i class=" huge history icon "></i>
                <h1 class="ui header">Save Time</h1>
                <p class="ui basic segment">
                    You can save a lot of your time by using our action management system, where you can follow,
                    unfollow, mute or unmute any twitter account.
                </p>
            </div>

        </div> <!--/row-->

        <div class="b-row features" id="features" data-aos="fade-up">
            <div class="col-xl-5 col-lg-5 col-md-6 offset-lg-1 offset-xl-1 offset-xl-1 ">
                <h1 class="ui header"><b>Features build for you</b></h1>
                <p>
                    We are giving followers, followings, and unfollowers counts on a daily basis.
                    You can view stats of your accounts and anlayze which actions need to be taken to boost your
                    account.
                    You can find any user's followers and followings, just in one click.
                </p>
                <br>
                <div class="ui huge relaxed list">
                    <div class="item">
                        <i class="huge blue chart bar outline middle aligned icon"></i>
                        <div class="content">
                            <h3 class="ui header">Account Statistics</h3>
                            <br>
                            <div class="description">
                                Account statistics will give you all the statistics of your selected account. New
                                followers, followings, unfollowers will be counted on a daily bases.
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="item">
                        <i class="huge blue check square outline middle aligned icon"></i>
                        <div class="content">
                            <h3 class="ui header">Multiple Actions</h3>
                            <br>
                            <div class="description">
                                Using our actions system, you can perform multiple actions on any twitter account
                                like unfollow, follow, mute, unmute, blacklist or whitelist.
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="item">
                        <i class="huge blue star outline middle aligned icon"></i>
                        <div class="content">
                            <h3 class="ui header">Advance features</h3>
                            <br>
                            <div class="description">
                                Advance features will give you the rich access on your Twitter accounts like search
                                any user on Twitter and see his/her followers/following, automatic DM to all new
                                followers and many more.

                            </div>
                        </div>
                    </div>

                </div> <!--/list-->
            </div> <!--col-->
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 feature-img">

            </div> <!--col-->

        </div> <!--br-ow-->
    </div> <!--container-fluid-->

    <!-- how it works -->
    <div class="works">
        <div class="container">
            <div class="b-row" data-aos="fade-up">

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12
ui  image">
                    <img src="{{ asset('assets/images/public/work_iphone.png') }}" alt="" width="415" height="543"
                         border="0"/>
                </div> <!--col-->

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                    <h1 class="ui header"><b>How it works</b></h1>
                    <p>
                        Its simple, <a href="#">Sign Up</a> and connect your twitter account, wait a few minutes to
                        load complete data of your account and you are good to go with all the features.
                    </p>
                    <br>
                    <div class="ui huge relaxed list">
                        <div class="item">
                            <i class="huge blue user alternate middle aligned icon"></i>
                            <div class="content">
                                <h3 class="ui header">Sign Up</h3>
                                <br>
                                <div class="description">
                                    Make an account, then add the Twitter account in the application and start using
                                    them.
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="item">
                            <i class="huge blue tasks outline middle aligned icon"></i>
                            <div class="content">
                                <h3 class="ui header">Perform actions</h3>
                                <br>
                                <div class="description">
                                    Use your lists of followers, following, mutes, etc and perform actions.
                                </div>
                            </div>
                        </div>

                    </div> <!--/list-->
                </div> <!--col-->

            </div> <!--br-ow-->

        </div> <!--/container-->
    </div> <!--/white-back-->

    <!-- Pricing Plans -->
    <div class="pricing">
        <div class="container">
            <br><br><br>
            <div class="b-row" data-aos="fade-up">
                <div class="col-lg-6 col-xl-6 col-md-6 offset-lg-3
offset-xl-3 offset-md-3 text-center ">
                    <h1 class="ui header">Pricing Plans</h1>
                    <p>

                    </p>
                </div>
            </div> <!--b-row-->
            <br><br><br>
            <div class="b-row" data-aos="fade-up">

                <div class="col-xl-4 col-lg-4 col-md-6 text-center"
                     data-aos="fade-up" data-aos-delay="100">
                    <div class="ui card pricing-card">
                        <div class="content card-header">
                            <div class="header"><u>Free</u></div>
                            <br>
                            <div class="header">$0</div>
                        </div>
                        <div class="content card-cont">
                            <div class="ui small feed">
                                <div class="event ">
                                    <div class="content text-center">
                                        <p>1 Twitter account</p>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content  text-center">
                                        <p>A pack of actions</p>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content  text-center">
                                        <p>Limited account updates</p>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content text-center">
                                        <p>Limited access to advance features</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="extra content card-btn">
                            <a href="{{ url('user_registration') }}">
                                <button class="ui huge button">Get Started</button>
                            </a>
                        </div>
                    </div> <!--pricing-card-->
                </div> <!--col-->

                <div class="col-xl-4 col-lg-4 col-md-6 text-center"
                     data-aos="fade-up" data-aos-delay="200">
                    <div class="ui card pricing-card pricing-card2">
                        <div class="content card-header">
                            <div class="header"><u>Pro</u></div>
                            <br>
                            <div class="header">Free<span><del>$5/mo</del></span></div>
                        </div>
                        <div class="content card-cont">
                            <div class="ui small feed">
                                <div class="event ">
                                    <div class="content text-center">
                                        <p>5 Twitter account</p>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content  text-center">
                                        <p>A power pack of actions</p>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content  text-center">
                                        <p>Unlimited account updates</p>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content text-center">
                                        <p>Unlimited access to advance features</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="extra content card-btn">
                            <a href="{{ url('user_registration') }}">
                                <button class="ui huge button">Get Started</button>
                            </a>
                        </div>
                    </div> <!--pricing-card-->
                </div> <!--col-->

                <div class="col-xl-4 col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center"
                     data-aos="fade-up" data-aos-delay="300">
                    <div class="ui card pricing-card">
                        <div class="content card-header">
                            <div class="header"><u>Premium</u></div>
                            <br>
                            <div class="header">Free<span><del>$10/mo</del></span></div>
                        </div>
                        <div class="content card-cont">
                            <div class="ui small feed">
                                <div class="event ">
                                    <div class="content text-center">
                                        <p>10 Twitter account</p>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content  text-center">
                                        <p>Unlimited pack of actions</p>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content  text-center">
                                        <p>Unlimited account updates</p>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content text-center">
                                        <p>Unlimited access to advance features</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="extra content card-btn">
                            <a href="{{ url('user_registration') }}">
                                <button class="ui huge button">Get Started</button>
                            </a>
                        </div>
                    </div> <!--pricing-card-->
                </div> <!--col-->

            </div> <!--b-row-->
            <br><br><br>
        </div> <!--container-->
    </div> <!--pricing back-->

    <!-- Awesome Gallery -->
    <div class="pricing gallery">
        <div class="container">
            <br><br><br>
            <div class="b-row">
                <div class="col-lg-6 col-xl-6 col-md-6 offset-lg-3
offset-xl-3 offset-md-3 text-center " data-aos="fade-up" data-aos-delay="100">
                    <h1 class="ui header">Awesome Gallery</h1>
                    <p>

                    </p>
                </div>
            </div> <!--b-row-->
            <br><br><br>
            <div class="b-row">

                <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

                    <div class="loop owl-carousel owl-theme">
                        <div class="item">
                            <img src="{{ asset('assets/images/public/WebDashboard.png') }}" alt=""/>
                        </div>
                        <div class="item">
                            <img src="{{ asset('assets/images/public/WebFollowers.png') }}" alt=""/>
                        </div>
                        <div class="item">
                            <img src="{{ asset('assets/images/public/WebFollowings.png') }}" alt=""/>
                        </div>
                        <div class="item">
                            <img src="{{ asset('assets/images/public/WebAccountStatus.png') }}" alt=""/>
                        </div>
                    </div>
                </div>

            </div> <!--b-row-->
            <br><br><br>
        </div> <!--container-->
    </div> <!--gallery-->


    <!-- why managetweeps -->
    <div class="why">
        <div class="container">
            <div class="b-row">

                <div class="col-xl-6 col-lg-6">
                    <div class="col-lg-8 offset-lg-2 col-md-6 offset-md-3
col-sm-6 offset-sm-3 col-10 offset-1 mob-frame"
                         data-aos="" data-aos-delay="">

                        <div class="loop2 owl-carousel owl-theme">
                            <div class="item">
                                <img src="{{ asset('assets/images/public/MobPublic.png') }}" alt=""/>
                            </div>
                            <div class="item">
                                <img src="{{ asset('assets/images/public/MobLogin.png') }}" alt=""/>
                            </div>
                            <div class="item">
                                <img src="{{ asset('assets/images/public/MobDashboard.png') }}" alt=""/>
                            </div>
                        </div>
                    </div> <!--nested col-->
                </div>

                <div class="col-xl-6 col-lg-6 why-cont" data-aos="fade-up" data-aos-delay="100">
                    <br>

                    <h1>Why ManageTweeps?</h1>
                    <p>
                        ManagTweeps is simple, affective and productive way to manage and boost your twitter
                        account.
                    </p>
                    <br>
                    <div class="ui accordion">
                        <div class="title">
                            <i class="dropdown icon"></i>
                            Clean & Modern Design
                        </div>
                        <div class="content">
                            <p class="transition hidden">We have build a clean and simple design to make it more
                                user friendly, so a naive user can
                                easily understand the flow.</p>
                        </div>
                        <div class="title">
                            <i class="dropdown icon"></i>
                            Increase productivity
                        </div>
                        <div class="content">
                            <p class="transition hidden">Search users of your interest and see who are they
                                following from your industry and get a community of your interest.</p>
                        </div>
                        <div class="title">
                            <i class="dropdown icon"></i>
                            Time Saving
                        </div>
                        <div class="content">
                            <p class="transition hidden">What if you have to unfollow a lot of irrelevant people you
                                have followed in past? Of
                                course, you won't be able to do it without getting a headache. With ManageTweeps,
                                you don't have to go to each profile, you can unfollow them from one place by going
                                to you followings list.</p>
                        </div>
                        <div class="title">
                            <i class="dropdown icon"></i>
                            Whitelist/Blacklist
                        </div>
                        <div class="content">
                            <p class="transition hidden">What if you have someone in your following who is annoying
                                and you want to get rid of
                                his statuses without letting him know, this is where you will use blacklist feature
                                which will prevent that user from getting unmute. Same goes for whitelist, you don't
                                wanna accidentally mute/unfollow someone you like, add them to whitelist and
                                relax.</p>
                        </div>
                    </div>

                </div> <!--col-->

            </div> <!--b-row-->

        </div> <!--container-->
    </div> <!--why-->


    <!-- Footer -->

    <div class="footer-color">
        <div class="container">

            <br><br>
            <div class="b-row ">

                <div class="col-xl-4 col-lg-4 col-md-4 copyright">
                    © {{ "now"|date("Y") }} All Rights Reserved By <a href="{{ url('homepage') }}">Manage Tweeps</a>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 text-center">
                    <a href="/">
                        <img src="{{ asset('ManageTweeps_128.png') }}" alt="" width="70"/>
                    </a>
                </div>

                <div class="col-xl-5 col-lg-5 col-md-5 footer-links">
                    <div class="ui horizontal divided link list">
                        <a class="item" id="privacy-policy-link" href="{{ url('privacy_policy') }}">
                            Privacy Policy
                        </a>
                        <a class="item" id="terms-and-conditions-link" href="{{ url('terms_conditions') }}">
                            Terms and Conditions
                        </a>
                    </div>
                </div>

            </div> <!--b-row-->

        </div> <!--container-->
    </div> <!--footer-back-->


</div> <!--pusher-->
<!--/segment-->

<!-- Scripts -->
<script src="{{ asset('assets/external/JQuery/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/external/semantic-ui/semantic.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/js/home.js') }}"></script>
<!-- animatescroll -->
<script src="{{ asset('assets/external/animatescroll.js-master/animatescroll.min.js') }}"></script>
<!-- aos js -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<!-- video-js -->
<script src="https://unpkg.com/video.js/dist/video.js"></script>

<script>

    $(document).ready(function () {
        $(window).on('load', function () {
            $('.preloader').fadeOut('slow', function () {
                $(this).remove();
            });
        });
        $('#toggle').click(function () {
            $('.ui.sidebar')
                .sidebar('toggle');
        });
        // $('#privacy-policy-link').on('click', function(e) {
        //     e.preventDefault();
        //     $('#privacy-policy-modal').modal('show');
        // });
        // $('#terms-and-conditions-link').on('click', function(e) {
        //     e.preventDefault();
        //     $('#terms-and-conditions-modal').modal('show');
        // });

        //accrodian
        $('.ui.accordion')
            .accordion()
        ;

    });

</script>

<!-- Slider Script -->
<script src="{{ asset('assets/external/carousel/js/index.js') }}"></script>
<!-- owl Script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
    $(document).ready(function () {

        $('.loop').owlCarousel({
            center: true,
            //
            <!-- items:2, -->
            loop: true,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            margin: 10,
            responsive: {
                0: {
                    items: 1
                },
                1000: {
                    items: 3
                }
            }
        });

        $('.loop2').owlCarousel({
            center: false,
            loop: true,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            margin: 0,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                }
            }
        });

    });
</script>

<script>
    $(document).ready(function () {

        //
        <!-- video model -->
        $(".video-modal").click(function () {
            $('.ui.basic.modal')
                .modal('show');
        });

        //
        <!-- video embed -->
        $('.ui.embed').embed();

    });
</script>

<!-- AOS -->
<script>
    AOS.init({
        duration: 1500
    });
</script>

</body>
</html>