<!DOCTYPE html>
<html>
<head>
    <title>Privacy Policy - Manage Tweeps</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}"/>

    <link href="{{ asset('assets/external/semantic-ui/semantic.min.css') }}" rel="stylesheet"/>

    <link href="{{ asset('assets/css/bt-utils.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/bootstrap-grid.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/global.css') }}" rel="stylesheet"/>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59421033-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-59421033-6', {'site_speed_sample_rate': 10});
    </script>

</head>
<body>
{{ render(controller('App\\Controller\\DefaultController::pPRawAction')) }}
</body>
</html>
