<div class="tc-header">
    <div class="container theme-grey-color theme-cool-black-background py-3 my-0">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    ManageTweeps
                </h1>
                <p>
                    Terms and conditions of https://managetweeps.com
                </p>
            </div>
        </div>
    </div>
</div>

<div class="tc">
    <div class="container py-4" style="background: white; color: black">
        <div class="row">
            <div class="col-md-12">


                <div class="content">
                    <h1>Terms and Conditions</h1>


                    <p>Effective date: September 15, 2018</p>


                    <p>ManageTweeps ("us", "we", or "our") operates the https://managetweeps.com website (hereinafter
                        referred to as the "Service").</p>

                    <p>By using the ManageTweeps web sites ("Service"), you are agreeing to be bound by the following
                        terms and conditions ("Terms
                        of Service").</p>
                    <p>ManageTweeps reserves the right to update and change the Terms and conditions from time to time
                        without notice. Any new features that augment or enhance the current Service, Including the
                        release of new tools and resources, shall be subject to the Terms and conditions. Continued use
                        of
                        the Service after any such changes shall constitute your consent to such changes You can review
                        the most current version of the Terms and conditions at any time at: <br/><a
                                href="{{ url('terms_conditions') }}">{{ url('terms_conditions') }}</a></p>
                    <p>Violation of any of the terms below will result in the termination of your Account. While
                        ManageTweeps prohibits
                        such conduct and Content on the Service, you understand and agree that ManageTweeps cannot
                        be responsible for the Content posted on the Service and you nonetheless may be exposed to such
                        materials You agree to use the Service at your own risk.</p>
                    <h2>Account Terms</h2>
                    <ol class="ui list ml-5">
                        <li class="item my-1">You must be 16 years or older to use this Service</li>
                        <li class="item my-1">You must be a human. Accounts registered by "bots" or other automated
                            methods are not
                            permitted
                        </li>
                        <li class="item my-1">You must provide your legal full name, a valid email address. and any
                            other Information
                            requested In order to complete the signup process.
                        </li>
                        <li class="item my-1">You are responsible for maintaining the security of your account and
                            password. ManageTweeps cannot
                            and will not be liable for any loss or damage from your failure to comply with this security
                            obligation.
                        </li>
                        <li class="item my-1">If you are using a free account you are not permitted to block ads</li>
                        <li class="item my-1">One person or legal entity may not maintain more than one free account
                        </li>
                        <li class="item my-1">You may not use the Service for any illegal or unauthorised purpose. You
                            must not.
                            In the use of the Service, violate any laws In your jurisdiction (Including but
                            not limited to copyright laws).
                        </li>
                    </ol>
                    <h2>Cancellation and Termination</h2>
                    <ol class="ui list ml-5">
                        <li class="item my-1">For cancellation/termination of your account, you need to email us at
                            support@managetweeps.com from your registered email address, you will get a confirmation
                            reply from ManageTweeps within 7 days. Upon successful confirmation, your account will be
                            cancelled and all your data will be deleted.
                        </li>
                        <li class="item my-1">All of your Content will be Immediately deleted from the Service upon
                            cancellation.
                            This Information can not be recovered once your account Is cancelled.
                        </li>
                        <li class="item my-1">If you cancel the Service before the end of your current paid up month.
                            your cancellation will take effect immediately and you wIll not be charged again.
                        </li>
                        <li class="item my-1">ManageTweeps, in its sole discretion, has the right to suspend or
                            terminate your account
                            and refuse any and all current or future use of the Service, or any other ManageTweeps
                            service,
                            for any reason at any time. Such termination of the Service will result in the deactivation
                            or deletion of your Account or your access to your Account. and the forfeiture and
                            relinquishment of all Content In your Account ManageTweeps reserves the right to
                            refuse service to anyone for any reason at any time.
                        </li>
                    </ol>
                    <h2>Modiﬁcations to the Service and Prices</h2>
                    <ol class="ui list ml-5">
                        <li class="item my-1">ManageTweeps reserves the right at any time and from time to time to
                            modify or
                            discontinue, temporarily or permanently, the Service (or any part thereof) with or without
                            notice.
                        </li>
                        <li class="item my-1">Prices of all Services, Including but not lImIted to daily and
                            monthly subscription plan fees to the Service. are subject to change upon 30 days
                            notice from us. Such notice may be provided at any time by posting the changes to the
                            website or the Service itself.
                        </li>
                        <li class="item my-1">ManageTweeps shall not be liable to you or to any thIrd party for any
                            modiﬁcation, price change. suspension or discontinuance of the Service.
                        </li>
                    </ol>
                    <h2>Copyright and Content Ownership</h2>
                    <ol class="ui list ml-5">
                        <li class="item my-1">We claim no Intellectual property rights over the material you provide to
                            the Service to be
                            checked.
                        </li>
                        <li class="item my-1">The look and feel of the Service is copyright ManageTweeps. All rights
                            reserved
                            You may not duplicate, copy. or reuse any portion of the HTML/CSS or visual design elements
                            without express written permission from ManageTweeps.
                        </li>
                        <li class="item my-1">ManageTweeps Is not afﬁliated with TWItter, Inc. (twitter.com) and does
                            not claim
                            ownership of the Twitter trademark.
                        </li>
                    </ol>
                    <h2>General Conditions</h2>
                    <ol class="ui list ml-5">
                        <li class="item my-1">Your use of the Service Is at your sole risk The service Is provided on an
                            "as is"
                            and "as available" basis.
                        </li>
                        <li class="item my-1">You use the Service will be recorded and may be used In both Internal an
                            external
                            reports. For example, we may release a list of the most unfollowed people on the Service.
                        </li>
                        <li class="item my-1">You understand that ManageTweeps uses third party vendors and hosting
                            partners to
                            provide the necessary hardware, software, networking storage, and related technology
                            required to run the Service.
                        </li>
                        <li class="item my-1">You must not modify, adapt or hack the Service or modify another website
                            so as to falsely
                            imply that It is associated with the Service, ManageTweeps, or any other ManageTweeps
                            service.
                        </li>
                        <li class="item my-1">You agree not to reproduce. duplicate, copy. sell, resell or exploit any
                            portion of the
                            Service, use of the Service, or access to the Service without the express written permission
                            by ManageTweeps.
                        </li>
                        <li class="item my-1">We may, but have no obligation to, remove Content and Accounts containing
                            Content that
                            we determine In our sole discretion are unlawful, offensive, threatening. lIbellous,
                            defamatory, pornograpth obscene or otherwise objectionable or violates any party's
                            intellectual property or these Terms and conditions.
                        </li>
                        <li class="item my-1">Verbal, physical, written or other abuse (Including threats of abuse or
                            retribution) of any ManageTweeps customer,
                            employee. member, or ofﬁcer will result In Immediate account termination.
                        </li>
                        <li class="item my-1">You understand that the technical processing and transmission of the
                            Service, Including
                            your Content. may be transferred unencrypted and involve (a) transmissions over various
                            networks; and (b) changes to conform and adapt to technical requirements of connecting
                            networks or devices.
                        </li>
                        <li class="item my-1">ManageTweeps does not warrant that (I) the service will meet your specific
                            requirements, (II) the service will be uninterrupted, timely, secure, or error-free. (III)
                            the results that may be obtained from the use of the service will be accurate or reliable.
                            (Iv) the quality of any products, services. information, or other material purchased or
                            obtained by you through the service will meet your expectations, and (v) any errors In the
                            Service will be corrected.
                        </li>
                        <li class="item my-1">You expressly understand and agree that ManageTweeps shall not be liable
                            for any
                            direct Indirect. Incidental, special, consequential or exemplary damages, including but not
                            limited to, damages for loss of proﬁts, goodwill, use, data or other Intangible losses (even
                            If ManageTweeps has been advised of the possibility of such damages), resulting
                            from: (I) the use or the inability to use the service; (II) the cost of procurement of
                            substitute goods and services resulting from any goods, data, information or services
                            purchased or obtained or messages received or transactions entered into through or from the
                            service; (III) unauthorized access to or alteration of your transmissions or data; (Iv)
                            statements or conduct of any third party on the service; (v) or any other matter relating to
                            the service.
                        </li>
                        <li class="item my-1">The failure of ManageTweeps to exercise or enforce any right or provision
                            of the
                            Terms and conditions shall not constitute a waiver of such right or provision. The Terms of
                            Service constitutes the entire agreement between you and ManageTweeps and govern
                            your use of the Service, superseding any prior agreements between you and ManageTweeps
                            (including
                            but not limited to, any prior versions of the Terms and conditions).
                        </li>
                        <li class="item my-1">Questions about the Terms and conditions should be sent to
                            info@managetweeps.com
                        </li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
</div>