<script language="JavaScript" src="{{ asset('assets/external/AjaxQ/ajaxq.js') }}"
        type="text/javascript"></script>

<div class="ui tiny modal bulk_actions_modal">
    <i class="close icon"></i>
    <div class="header">
        Choose Actions
    </div>
    <div class="content">
        <div class="b-row">
            <div class="col-6 col-sm-6 col-md-5 col-lg-5">
                <div class="ui checkbox follow_bulk_action">
                    <input type="checkbox"/>
                    <label>Follow</label>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-5 col-lg-5">
                <div class="ui checkbox unfollow_bulk_action">
                    <input type="checkbox"/>
                    <label>Unfollow</label>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="b-row">
            <div class="col-6 col-sm-6 col-md-5 col-lg-5">
                <div class="ui checkbox mute_bulk_action">
                    <input type="checkbox"/>
                    <label>Mute</label>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-5 col-lg-5">
                <div class="ui checkbox unmute_bulk_action">
                    <input type="checkbox"/>
                    <label>Unmute</label>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="b-row">
            <div class="col-6 col-sm-6 col-md-5 col-lg-5">
                <div class="ui checkbox whitelist_bulk_action">
                    <input type="checkbox"/>
                    <label>Whitelist</label>
                </div>
                <div class="ui divider"></div>
                <div class="ui checkbox remove_whitelist_bulk_action">
                    <input type="checkbox"/>
                    <label>Remove Whitelist</label>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-5 col-lg-5">
                <div class="ui checkbox blacklist_bulk_action">
                    <input type="checkbox"/>
                    <label>Blacklist</label>
                </div>
                <div class="ui divider"></div>
                <div class="ui checkbox remove_blacklist_bulk_action">
                    <input type="checkbox"/>
                    <label>Remove Blacklist</label>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="b-row">
            <div class="col-6 col-sm-6 col-md-5 col-lg-5">

            </div>
            <div class="col-6 col-sm-6 col-md-5 col-lg-5">

            </div>
        </div>
        <div class="ui info icon message">
            <i class="warning icon"></i>
            <div class="content">
                <div class="header">
                    Keep this page open until actions are complete.
                </div>
                <p>We are working on cloud operations, and will launch soon.</p>
                <p>Stay connected. Thanks for the patience.</p>
            </div>
        </div>


    </div>
    <div class="actions">
        <div class="ui negative button">Cancel</div>
        <div class="ui positive button">Process</div>
    </div>
</div>