<script language="JavaScript" src="{{ asset('assets/external/DataTable/js/jquery.dataTables.js') }}"
        type="text/javascript"></script>
<script language="JavaScript" src="{{ asset('assets/external/DataTable/js/dataTables.semanticui.js') }}"
        type="text/javascript"></script>
<script language="JavaScript" src="{{ asset('assets/external/DataTable/js/dataTables.select.js') }}"
        type="text/javascript"></script>
<script language="JavaScript" src="{{ asset('assets/external/DataTable/js/dataTables.responsive.js') }}"
        type="text/javascript"></script>
<script language="JavaScript" src="{{ asset('assets/external/DataTable/js/responsive.semanticui.js') }}"
        type="text/javascript"></script>
