<link rel="stylesheet" type="text/css" href="{{ asset('assets/external/DataTable/css/dataTables.semanticui.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('assets/external/DataTable/css/select.semanticui.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('assets/external/DataTable/css/responsive.bootstrap.css') }}"/>