<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta HTTP-EQUIV="Pragma" content="no-cache">
    <meta HTTP-EQUIV="Expires" content="-1">

    <link rel="icon" type="image/x-icon" href="{{ asset('ManageTweeps_128.png') }}"/>
    <title>{% block title %}{{ website_title }}{% endblock %} - {{ website_title }}</title>


    {{ include('includes/styles.html.twig') }}
    {% block stylesheets %}  {% endblock %}

    <script src="{{ asset('assets/external/JQuery/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
</head>
<body>

{# Left sidebar (Menu) #}
{{ include('Admin/includes/left_sidebar.html.twig') }}


<div class="ui fixed inverted top menu purple" style="border-bottom: 1px solid #F1F4F5;">
    <div class="item">
        <button class="ui icon button left" id="show_actions_sidebar">
            <i class="sidebar icon"></i>
        </button>
    </div>
    <a class="item theme-grey-background" style="background: #F1F4F5 !important;"
       href="{{ url('admin_index') }}">
        <img class="ui image" src="{{ asset('ManageTweeps_256.png') }}" width="42">
    </a>


    <div class="ui dropdown right item" id="show_settings_menu">
        <i class="ui user icon"></i>
        <i class="down caret icon"></i>
        <div class="inverted menu">
            <a class="item purple" href="{{ url('dashboard_home') }}">
                <i class="arrow left icon"></i>
                Go back
            </a>
            <a class="item purple" href="{{ url('logout') }}">
                <i class="sign out icon"></i>
                Logout
            </a>
        </div>
    </div>
</div>
<div id="page-loader" hidden>
    <div class="ui large loader text centered active inverted" id="loading-msg">Please wait</div>
</div>
<div class="ui main body area pusher w-100 px-0 px-sm-0 px-md-2 px-lg-5 mx-0 pt-3 pb-5">
    <div class="main-content">
        {% block body %}{% endblock %}
    </div>
</div>
<div class="footer w-100 py-2 theme-cool-black-background">
        <span class="theme-white-color ml-4 d-none d-sm-inline d-md-inline d-lg-inline">
            © <a class="theme-white-color hover" href="{{ url('homepage') }}">Manage Tweeps</a> {{ "now"|date("Y") }}
        </span>

    <span class="theme-white-color float-right mr-5">
            <a class="theme-white-color hover">Terms and conditions</a>
        </span>
    <span class="theme-white-color float-right mr-3">
            <a class="theme-white-color hover">Privacy Policy</a>
        </span>
</div>

<!-- Scripts Below -->


{{ include('includes/scripts.html.twig') }}
<script>
    {% for label, messages in app.flashes %}
    {% if label in ['error', 'warning', 'success', 'info'] %}
    {% for message in messages %}
    new Noty({
        type: "{{ label }}",
        text: '{{ message|raw }}'
    }).show();
    {% endfor %}
    {% endif %}
    {% endfor %}
</script>
{% block javascripts %}
{% endblock %}

</body>
</html>

