<div id="connected-accounts">
    <div class="ui inverted middle aligned divided list">
        <div class="item">
            <div class="content">
                <h3 class="header">
                    {{ (app.session.get('selectedAccountTwUserId') != "") ? "Selected": "Select" }} Account
                </h3>
                <div class="description mt-3">
                    <div class="ui grid">
                        <div class="row">
                            <div class="thirteen wide column">
                                {% if platforms|length %}
                                    <select class="ui dropdown fluid small" id="selected-account">
                                        <option selected disabled value="">None</option>
                                        {% for platform in platforms %}
                                            {% for authCred in platform.authCreds %}
                                                <option {{ (app.session.get('selectedAccountTwUserId') == authCred.twUserId) ? "selected": app.session.get('selectedAccountTwUserId') }}
                                                        value="{{ authCred.twUserId }}">
                                                    @{{ authCred.twUsername }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    <p class="ui small warning message">No account found. Connect one</p>
                                {% endif %}
                            </div>
                            <div class="three wide column">
                                <div class="right floated">
                                    <a href="{{ url('dashboard_settings', {'0':'tab', '1':'connected-accounts'}) }}"
                                       class="ui icon small button"
                                       data-tooltip="Add new account" data-position="bottom right">
                                        <i class="plus icon"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var twChangeable = true;
        $('#selected-account').change(function () {
            if (twChangeable) {
                $.LoadingOverlay('show');
                $.ajax({
                    method: "POST",
                    url: "{{ url('set_tw_selected_account') }}",
                    data: {twUserId: $(this).val()}
                })
                    .done(function (data) {
                        if (data.success == true) {
                            window.location.reload();
                        } else {
                            twChangeable = false;
                            $('#selected-account').dropdown('restore defaults', true);
                            new Noty({
                                type: "error",
                                text: data.error,
                                timeout: false
                            }).show();
                            $.LoadingOverlay('hide', true);
                        }
                    });
            } else {
                setTimeout(function () {
                    twChangeable = true;
                }, 3000);
            }
        });
    });
</script>