<div id="connected-accounts">
    <div class="ui inverted middle aligned divided list">
        <div class="item">
            <div class="content">
                <h3 class="header">
                    Select User
                </h3>
                <div class="description mt-3">
                    <div class="ui grid">
                        <div class="row">
                            <div class="thirteen wide column">
                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <a href="{{ path('dashboard_home', {'_switch_user': '_exit'}) }}">
                                        <div class="ui red button">Exit impersonation</div>
                                    </a>
                                {% elseif users|length %}
                                    <select class="ui dropdown fluid small" id="selected-user">
                                        <option selected disabled value="">None</option>
                                        {% for user in users %}
                                            <option value="{{ user.email }}"
                                                    {{ (user.activated) ? "": "disabled" }}
                                            >
                                                {{ user.firstName }} {{ user.lastName }}{{ (user.activated) ? "": " (Not Activated)</a>" }}</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    <p class="ui small warning message">No user found. Connect one</p>
                                {% endif %}
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#selected-user').change(function () {
            window.location.href = "{{ path('dashboard_home') }}?_switch_user=" + $(this).val();
        });
    });
</script>