<div class="ui left vertical inverted sidebar labeled icon menu purple" id="actions_sidebar">
    <i class="ui grey close icon float-left ml-3 mt-3" id="close_sidebar"></i>
    <div style="clear: both;"></div>
    <div class="ui hidden divider"></div>
    <a class="item" href="{{ url('dashboard_home') }}">
        <i class="dashboard icon"></i>
        Dashboard
    </a>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="item" href="{{ url('admin_index') }}">
            <i class="user icon"></i>
            Admin
        </a>
    {% endif %}
    <a class="item" href="{{ url('twitter_followers') }}">
        <i class="users icon"></i>
        Followers
    </a>
    <a class="item" href="{{ url('twitter_friends') }}">
        <i class="users icon"></i>
        Following
    </a>
    <a class="item" href="{{ url('twitter_mutes') }}">
        <i class="ui bell slash icon"></i>
        Mutes
    </a>
    <a class="item" href="{{ url('twitter_unfollowers') }}">
        <i class="user times icon"></i>
        Unfollowers
    </a>
    <a class="item" href="{{ url('twitter_stats_details') }}">
        <i class="chart line icon"></i>
        Stats
    </a>
    <a class="item" href="{{ url('twitter_whitelist') }}">
        <i class="check icon"></i>
        Whitelist
    </a>
    <a class="item" href="{{ url('twitter_blacklist') }}">
        <i class="ban icon"></i>
        Blacklist
    </a>
    <a class="item" href="{{ logout_path() }}">
        <i class="sign out icon"></i>
        Logout
    </a>
</div>