<div class="ui right inverted purple vertical menu wide sidebar p-3 pl-5 p-sm-3 p-md-3 p-lg-3" id="settings_sidebar">

    <i class="ui grey close icon show_settings_sidebar float-right"></i>

    <div style="clear: both;"></div>
    <div class="ui section mt-3">
        {{ render(controller('App\\Controller\\Dashboard\\DefaultController::getConnectedAccountsAction')) }}
    </div>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PREVIOUS_ADMIN') %}
        <div class="ui section mt-3">
            {{ render(controller('App\\Controller\\Dashboard\\DefaultController::getAllUsers')) }}
        </div>
    {% endif %}
</div>