
{# Loading Overlay jquery plugin #}
<script src="{{ asset('assets/external/semantic-ui/semantic.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/external/LoadingOverlay/loadingoverlay.min.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('assets/external/Noty/lib/noty.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/external/jquery-confirm/js/jquery-confirm.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/external/jquery-confirm/default-settings.js') }}" type="text/javascript"></script>


<script>
    function actions_sidebar(elem, action) {
        $(elem)
            .sidebar({
                dimPage: true,
                transition: 'push',
                closable: true,
                exclusive: true
            }).sidebar(action);
    }

    function settings_sidebar(elem, action) {
        $(elem)
            .sidebar({
                dimPage: true,
                transition: 'overlay',
                closable: true,
                exclusive: true
            }).sidebar(action);
    }

    $(document).ready(function () {
        $('#show_actions_sidebar, #close_sidebar, .show_actions_sidebar, .close_sidebar').click(function () {
            actions_sidebar('#actions_sidebar', 'toggle');
        });

        $('#show_settings_sidebar, #close_sidebar_right, .show_settings_sidebar, .close_sidebar_right').click(function () {
            settings_sidebar('#settings_sidebar', 'toggle');
        });
        $('.ui.dropdown')
            .dropdown()
        ;
        $(document.body).on('click', '.ui.message .close', function () {
            $(this)
                .closest('.message')
                .transition('fade')
            ;
        });

    });
</script>