<link href="{{ asset('assets/external/semantic-ui/semantic.min.css') }}" rel="stylesheet"/>
<link href="{{ asset('assets/css/main.css') }}" rel="stylesheet"/>
<link href="{{ asset('assets/css/global.css') }}" rel="stylesheet"/>
<link href="{{ asset('assets/css/bt-utils.css') }}" rel="stylesheet"/>
<link href="{{ asset('assets/css/bootstrap-grid.css') }}" rel="stylesheet"/>
<link href="{{ asset('assets/external/Animate/animate.css') }}" rel="stylesheet"/>
{#<link href="{{ asset('assets/external/Noty/lib/themes/light.css') }}" rel="stylesheet"/>#}
{#<link href="{{ asset('assets/external/Noty/lib/themes/metroui.css') }}" rel="stylesheet"/>#}
<link href="{{ asset('assets/external/Noty/lib/themes/mint.css') }}" rel="stylesheet"/>
{#<link href="{{ asset('assets/external/Noty/lib/themes/nest.css') }}" rel="stylesheet"/>#}
{#<link href="{{ asset('assets/external/Noty/lib/themes/relax.css') }}" rel="stylesheet"/>#}
{#<link href="{{ asset('assets/external/Noty/lib/themes/semanticui.css') }}" rel="stylesheet"/>#}
{#<link href="{{ asset('assets/external/Noty/lib/themes/sunset.css') }}" rel="stylesheet"/>#}
{#<link href="{{ asset('assets/external/Noty/lib/themes/bootstrap-v4.css') }}" rel="stylesheet"/>#}
<link href="{{ asset('assets/external/Noty/lib/noty.css') }}" rel="stylesheet"/>
<link href="{{ asset('assets/external/jquery-confirm/css/jquery-confirm.css') }}" rel="stylesheet"/>