/**
 * Author: Kamran Akram
 * Author URI: http://kamranakram.me
 * Author Email: kamranakram1000@live.com
 * Created at: 1/27/18, 2:29 AM
 */

body {
    margin: 0 auto;
    background-color: #F1F4F5;
}

.pusher {
    width: 100%;
    margin: 0 auto;
    background-color: #F1F4F5;
    margin-top: 55px;
    min-height: 100%;
}

.theme-grey-background {
    background-color: #F1F4F5;
}

.theme-cool-black-background {
    background-color: #34495E;
}

.theme-grey-color {
    color: #F1F4F5;
}

.hyperlink.theme-grey-color {
    color: #F1F4F5;
    text-decoration: underline;
}

.hyperlink.theme-grey-color:hover {
    color: #D1D4D5;
}

.theme-cool-black-color {
    color: #34495E;
}

.theme-white-color {
    color: white;
}

.theme-white-color.hover:hover {
    color: #d3d7d9;
}

.ui.form .error.message, .ui.form .success.message, .ui.form .warning.message {
    display: inherit;
}

.main-content {
    width: 100%;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 500px;
}

.g-recaptcha {
    display: table !important;
    margin: 0 auto !important;
}

div.dataTables_wrapper div.dataTables_info {
    white-space: normal !important;
}

.action-button {
    width: 50px;
}
