
.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 9999999999;
}

.loader {
    margin: 0 auto;
    width: 60px;
    height: 50px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.loader > div {
    height: 100%;
    width: 8px;
    border-radius: 10px;
    display: inline-block;
    float: left;
    margin-left: 2px;
    -webkit-animation: delay 0.8s infinite ease-in-out;
    animation: delay 0.8s infinite ease-in-out;
}

.loader .bar1 {
    background-color: #754fa0;
}

.loader .bar2 {
    background-color: #09b7bf;
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.loader .bar3 {
    background-color: #90d36b;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.loader .bar4 {
    background-color: #f2d40d;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.loader .bar5 {
    background-color: #fcb12b;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.loader .bar6 {
    background-color: #ed1b72;
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

@-webkit-keyframes delay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.05);
    }
    20% {
        -webkit-transform: scaleY(1);
    }
}

@keyframes delay {
    0%,
    40%,
    100% {
        transform: scaleY(0.05);
        -webkit-transform: scaleY(0.05);
    }
    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}

/* desktop menu */

.mt-menu {
    /*background:linear-gradient(to left,  rgba(255,255,255,.90) 0%, rgba(0, 166, 229, .6) 100%) !important;*/
    background: transparent !important;
    border: none !important;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.mt-menu .mt-logo {
    margin-left: 10%;
}

.mt-menu .right-menu {
    margin-right: 10% !important;
}

.mt-menu .right-menu a {
    margin-right: 2%;
    color: #fff !important;
}

.mt-menu .right-menu a.item.nohover:hover {
    background-color: transparent;
}

.mt-menu .item {
    font-weight: bold !important;
    font-size: 16px;
}

.mt-menu a:before {
    width: 0 !important;
}

.mt-menu a .item:before {
    width: 0 !important;
}

/* mobile menu */
.mob-menu {
    /* background:linear-gradient(to left,  rgba(255,255,255,.90) 0%, rgba(0, 166, 229, .6) 100%) !important; */
    background: transparent !important;
    border: none !important;
    position: fixed;
    z-index: 10;
    height: 70px;
    margin-top: 0 !important;
}

.mob-menu #toggle {
    font-weight: bold;
    font-size: 17px;
    color: #fff;
    height: 30px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 7%;
    margin-top: 4%;
    transition: all .4s;
}

.mob-menu #toggle:hover {
    background: rgba(250, 250, 250, .2) !important;
    border-bottom: solid #fff 1px;
    /* color:#000; */
}

.mob-menu .item:before {
    width: 0px;
}

.mob-menu img {
    width: 70px;
}

.mt-sidebar {
    background: linear-gradient(to top, #00A6E5 0%, #00A6E5 100%) !important;
    border: none !important;
}

/* Header */
.mt-header {
    background: linear-gradient(45deg, #7f8cff, #58caff);
    padding-top: 150px;
    padding-bottom: 70px;
}

.mt-header h1 {
    color: #fff !important;
    font-size: 45px !important;
}

.mt-header p {
    color: #fff !important;
    font-size: 20px !important;
}

.info-part {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
    background: #fff;
}

.info-part i {
    color: rgb(111, 172, 255);
}

.info-part h1, p {
    color: rgb(115, 132, 154) !important;
}

/* what features */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background: rgb(244, 244, 244) !important;
}

.features h1 {
    color: #8089FE !important;
}

.features p {
    font-size: 18px;
}

.feature-img {
    background: url(/assets/images/public/WebDashboard.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.card-header .header span {
    font-size: 16px;
}

/* how it works */
.works {
    background: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
}

.works h1 {
    color: #8089FE !important;
}

.works p {
    font-size: 18px;
}

/* statistics */
.mt-statistics {
    /*background:url(/assets/images/public/counter-bg.jpg) no-repeat;*/
    /* background-size:300% 100%; */
}

.mt-statistics .statistics {
    background: rgba(124, 185, 252, .8);
    padding-top: 80px;
    padding-bottom: 80px;
}

.mt-statistics .statistic {
    margin-left: 0 !important;
    margin-right: 0 !important;
    color: #fff !important;
}

.mt-statistics .statistic .value, .label {
    color: #fff !important;
    opacity: 1;
}

/* pricing plans */
.pricing {
    background: rgb(244, 244, 244);
}

.pricing h1 {
    color: rgb(128, 137, 254) !important;
    font-size: 36px !important;
}

.pricing p {
    color: rgb(127, 142, 163) !important;
    font-size: 18px !important;
}

.pricing-card {
    width: 100% !important;
    padding-bottom: 30px !important;
    box-shadow: 0px 0px 20px #58caff !important;
}

.pricing-card:hover {
    box-shadow: none !important;
}

.pricing-card .card-header {
    background: url(/assets/images/public/price-bg.png) #FFFFFF no-repeat !important;
    background-size: 100% 100% !important;
    padding-bottom: 60px !important;
}

.pricing-card .header {
    font-size: 40px !important;
    color: #fff !important;
}

.pricing-card .card-cont {
    border-top: none !important;
}

.pricing-card p {
    color: #B587FD !important;
}

.pricing-card .extra button {
    color: #fff !important;
    /* background:#FF6195 !important; */
    background: linear-gradient(45deg, #58caff, #7f8cff) !important;
}

.pricing-card:hover .extra button {
    background: linear-gradient(45deg, #7f8cff, #58caff) !important;
}

.pricing-card2 {
    box-shadow: 0px 0px 30px #7f8cff !important;
}

.pricing-card2:hover {
    box-shadow: none !important;
}

.pricing-card2 .card-header {
    background: url(/assets/images/public/price-bg.png) #FFFFFF no-repeat !important;
    background-size: 100% 100% !important;
    padding-bottom: 60px !important;
}

.pricing-card2 .extra button {
    color: #fff !important;
    /* background:#88D379 !important; */
    background: linear-gradient(45deg, #58caff, #7f8cff) !important;
}

.pricing-card2:hover .extra button {
    background: linear-gradient(45deg, #7f8cff, #58caff) !important;
}

.ui.card > .extra {
    border-top: none !important;
}

/* screenshot */
.screenshot {
    background: rgb(255, 255, 255);
}

/* number 1 app */
.number1 {
    background: linear-gradient(45deg, #7f8cff, #58caff) !important;
}

.number1 .b-row {
    padding-top: 80px;
    padding-bottom: 80px;
}

.modal-btn {
    background: url(/assets/images/public/blue-video.png) no-repeat;
    background-size: 100% 100%;
    opacity: .7;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 30px;
}

.modal-btn img {
    cursor: pointer;
}

.number1 h1 {
    color: #fff !important;
    font-size: 35px !important;
}

.number1 p {
    line-height: 30px;
    font-size: 17px;
    color: #fff !important;
}

.playstore img {
    box-shadow: 0px 2px 8px black;
    margin-left: 20px !important;
}

/* version control */
.why {
    background: #F7F7F7 !important;
    padding-top: 80px;
    padding-bottom: 80px;
}

.mob-frame {
    padding-top: 60px;
    padding-bottom: 70px;
    padding-left: 30px;
    background: url(/assets/images/public/mobile-frame-2.png) no-repeat !important;
    /* background-size:112% 110%; */
    /* background-position:-15px ; */
}

.mob-frame .item img {
    width: 210px;
    height: 390px;
}

.mob-frame .owl-carousel {
    width: 210px;
}

.why-cont h1 {
    color: #8089FE !important;
}

.why-cont p {
    font-size: 18px;
}

.why-cont .accordion .title {
    font-size: 20px !important;
    background: #fff !important;
    box-shadow: 0px 2px 10px #8089FE !important;
    border-radius: 10px;
    margin-bottom: 10px;
}

.why-cont .accordion .title:active {
    /* background:linear-gradient(10deg, #fd81b5, #c961f7, #8785fe) !important; */
    background: linear-gradient(45deg, #7f8cff, #58caff) !important;
    color: #fff !important;
}

/* what customer says */

.customer {
    background: #F4F4F4;
    padding-top: 70px;
    padding-bottom: 70px;
}

.customer h1 {
    color: #8089FE !important;
}

.customer p {
    font-size: 18px;
}

.customer-carousel .loop3 .item {
    padding-bottom: 40px;
}

.customer-carousel .loop3 .item p {
    background: #fff;
    padding: 40px 25px;
    margin-bottom: 0;
}

.customer-carousel .loop3 .item img {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 37%;
}

/* Blog */
.blog {
    background: #FFF;
    padding-top: 70px;
    padding-bottom: 70px;
}

.blog h1 {
    color: #8089FE !important;
}

.blog p {
    font-size: 18px;
}

/* footer */
.footer-color {
    background: #fff url(/assets/images/public/footer-bg.jpg) no-repeat !important;
    background-size: 100% 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}

.footer-cont {
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(45deg, #7f8cff, #58caff) !important;
    border-radius: 15px;
    color: #fff;
}

.footer-cont p {
    color: #fff !important;
    font-size: 18px;
}

.footer-cont form {
    position: relative;
}

.footer-cont form input[type=email] {
    width: 600px;
    height: 65px;
    border: none;
    font-size: 18px !important;
    color: #908FFE !important;
    font-weight: 600 !important;
    border-radius: 30px !important;
    padding-left: 20px;
}

.footer-cont form button {
    width: 180px;
    height: 52px;
    border: none;
    font-size: 18px !important;
    color: #fff !important;
    background: linear-gradient(45deg, #7f8cff, #58caff) !important;
    font-weight: 600;
    border-radius: 30px !important;
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 7px;
}

.social-icons i {
    color: #F47BC0;
    background: #fff;
    transition: all .2s;
}

.social-icons i:hover {
    transform: scale(1.2);
    /* background:linear-gradient(45deg, #7f8cff, #58caff) !important; */
    color: #7f8cff !important;
}

.copyright {
    font-size: 16px;
    color: #C1C8D2;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer-links {
    padding-top: 25px;
}

.footer-links .item {
    font-size: 16px !important;
    color: #C1C8D2 !important;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .mob-menu {
        display: none !important;
    }

}

@media screen and (max-width: 768px) {
    .mt-menu {
        display: none !important;
    }

    .mt-statistics {
        background-size: 300% 100%;
    }

    .copyright, .footer-links, .why {
        text-align: center;
    }

    .footer-cont form input[type=email] {
        font-size: 16px !important;
    }

    .footer-cont form button {
        width: 100px;
        height: 52px;
        font-size: 16px !important;
    }

    .footer-color {
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer-cont {
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media screen and (max-width: 880px) {
    .mt-menu .mt-logo {
        margin-left: 0%;
    }

    .why {
        text-align: center;
    }
}

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: #f1f1f1;  */
    background: #7f8cff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F4F4F4;
    height: 100px;
    border-radius: 40%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}