/**
 * Author: Kamran Akram
 * Author URI: http://kamranakram.me
 * Author Email: kamranakram1000@live.com
 * Created at: 11/19/17, 2:09 AM
 */

.ui.fixed.sticky {
    margin-top: 55px !important;
    background: #F1F4F5;
}

.ui.fixed.sticky .item.active {
    background: white;
}

#bug-report-button {
    position: fixed !important;
    bottom: 50px;
    z-index: 500;
}

.rowWhiteListBorder td:first-child {
    box-shadow: -5px 0 0 #21ba45;
}

.rowBlackListBorder td:first-child {
    box-shadow: -5px 0 0 #db2828;
}

@media (max-width: 660px) {
    .dataTables_scrollBody #users_table {
        padding-right: 1.5rem !important;
    }
}

.dataTables_wrapper .dt-table .ui.checkbox label:after {
    top: 2px;
}

.dataTables_filter input {
    width: 270px
}
