{% extends 'Admin/base_admin.html.twig' %}
{% block title %}Admin Dashboard{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <div class="b-row mt-5">
        <div class="col-sm-10 col-md-10 col-lg-10 offset-sm-1 offset-md-1 offset-lg-1">
            <div class="ui center aligned padded stackable grid">
                <div class="row">
                    <div class="five wide column">
                        <a href="{{ url('admin_site_users') }}">
                            <div class="ui raised blue segment">
                                <div class="ui blue statistic">
                                    <div class="value">
                                        {{ allUsers }}
                                    </div>
                                    <div class="label">
                                        Users Registered
                                    </div>
                                    <div class="label">
                                        All Users
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="five wide column">
                        <a href="{{ url('admin_site_users') }}">
                            <div class="ui raised green segment">
                                <div class="ui green statistic">
                                    <div class="value">
                                        {{ activatedAllUsers }}
                                    </div>
                                    <div class="label">
                                        Users Activated
                                    </div>
                                    <div class="label">
                                        All Users
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="five wide column">
                        <a href="{{ url('admin_site_users') }}">
                            <div class="ui raised red segment">
                                <div class="ui red statistic">
                                    <div class="value">
                                        {{ notActivatedAllUsers }}
                                    </div>
                                    <div class="label">
                                        Users not Activated
                                    </div>
                                    <div class="label">
                                        All Users
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="row">
                    <div class="five wide column">
                        <a href="{{ url('admin_site_users') }}">
                            <div class="ui raised green segment">
                                <div class="ui green statistic">
                                    <div class="value">
                                        {{ last24HoursUsers }}
                                    </div>
                                    <div class="label">
                                        Users Registered
                                    </div>
                                    <div class="label">
                                        In last 24 hours
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="five wide column">
                        <a href="{{ url('admin_site_users') }}">
                            <div class="ui raised green segment">
                                <div class="ui green statistic">
                                    <div class="value">
                                        {{ last24HoursActivatedUsers }}
                                    </div>
                                    <div class="label">
                                        Users Activated
                                    </div>
                                    <div class="label">
                                        In last 24 hours
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="five wide column">
                        <a href="{{ url('admin_site_users') }}">
                            <div class="ui raised green segment">
                                <div class="ui green statistic">
                                    <div class="value">
                                        {{ last24HoursLoggedInUsers }}
                                    </div>
                                    <div class="label">
                                        Users Logged In
                                    </div>
                                    <div class="label">
                                        In last 24 hours
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
    {% block javascripts %}

        <script>
            $(document).ready(function () {


            });


        </script>
    {% endblock %}