{% extends 'Admin/base_admin.html.twig' %}
{% block title %}Users{% endblock %}
{% block stylesheets %}
    {{ include('includes/conf/datatables-stylesheets.html.twig') }}
{% endblock %}
{% block body %}
    <div class="b-row">
        <div class="col-sm-12 col-md-12 col-lg-12 offset-sm-0 offset-md-0 offset-lg-0">
            <h2 class="ui header purple">
                <i class="users icon"></i>
                <div class="content">
                    Users
                </div>
            </h2>
        </div>
    </div>

    <div class="b-row">
        <div class="col-sm-12 col-md-12 col-lg-12 offset-sm-0 offset-md-0 offset-lg-0">
        </div>
    </div>

    <div class="b-row">
        <div class="col-sm-12 col-md-12 col-lg-12 offset-sm-0 offset-md-0 offset-lg-0">
            <section class="ui segment w-100 px-0 px-sm-0 px-md-3 px-lg-5">
                <table id="users_table" class="ui unstackable purple table w-100"
                       cellspacing="0">
                    <thead>
                    <tr>
                        <th class="one wide">
                            <div class="ui fitted checkbox select_all">
                                <input type="checkbox"/>
                                <label></label>
                            </div>
                        </th>
                        <th class="two wide">Name</th>
                        <th class="three wide">Email</th>
                        <th class="two wide">Joined</th>
                        <th class="one wide">Activated</th>
                        <th class="two wide">Tw Accounts</th>
                        <th class="two wide">Last Login</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>

                </table>
            </section>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ include('includes/conf/datatables-javascripts.html.twig') }}
    {{ include('includes/conf/ajax-queue-table-actions.html.twig') }}
    <script type="text/javascript" src="{{ asset("assets/js/table-filters.js") }}"></script>
    <script>
        function createFiltersForTable(table_filters, hide_others) {
            var filter_actions_ele = $("div.filter_actions");

            var user_activated = "disabled";
            if (inArray('user_activated', table_filters)) {
                user_activated = "";
            }
            if ((hide_others && inArray('user_activated', table_filters)) || (!hide_others)) {
                var user_activated_html = '<div class="col-6 col-sm-6 col-md-3 col-lg-3 my-2">' +
                    '  <div class="ui ' + user_activated + ' checkbox user_activated">\n' +
                    '    <input type="checkbox" name="user_activated">\n' +
                    '    <label>Activated</label>\n' +
                    '  </div>' +
                    '  <div class="ui fitted hidden divider"></div>' +
                    '  <div class="ui ' + user_activated + ' checkbox not_user_activated">\n' +
                    '    <input type="checkbox" name="not_user_activated">\n' +
                    '    <label>Not Activated</label>\n' +
                    '  </div>' +
                    '</div>';
                filter_actions_ele.append(user_activated_html);
                $('.user_activated.checkbox').checkbox({
                    onChecked: function () {
                        $('.not_user_activated.checkbox').checkbox("set unchecked");
                    },
                    onChange: function () {
                        table.ajax.reload();
                    }
                });
                $('.not_user_activated.checkbox').checkbox({
                    onChecked: function () {
                        $('.user_activated.checkbox').checkbox("set unchecked");
                    },
                    onChange: function () {
                        table.ajax.reload();
                    }
                });
            }

        }

        function addFilterParams(d) {
            var user_activated = $('.user_activated.checkbox');
            if (user_activated.length) {
                d.user_activated = user_activated.checkbox("is checked");
            } else {
                d.user_activated = false;
            }
            var not_user_activated = $('.not_user_activated.checkbox');
            if (not_user_activated.length) {
                d.not_user_activated = not_user_activated.checkbox("is checked");
            } else {
                d.not_user_activated = false;
            }
        }


        function inArray(needle, haystack) {
            var length = haystack.length;
            for (var i = 0; i < length; i++) {
                if (haystack[i] == needle) return true;
            }
            return false;
        }


        var table;
        var table_filters = ['user_activated'];

        $(document).ready(function () {
            table = $('#users_table').DataTable({
                language: {
                    "search": "_INPUT_",
                    "searchPlaceholder": "Search Username, Name or Location",
                    "lengthMenu": "_MENU_ users"
                },
                "responsive": false,
                "processing": true,
                "serverSide": true,
                "info": true,
                "stateSave": true,
                "scrollX": true,
                "pagingType": 'full_numbers',
                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                "initComplete": function (settings, json) {
                    createFiltersForTable(table_filters, true);
                    if (!$("div.filter_actions").html()) {
                        $("div.filter_actions").parent().hide();
                    }
                },
                "ajax": {
                    "url": "{{ url('admin_site_users_ajax') }}",
                    "type": "POST",
                    "data": function (d) {
                        d = addFilterParams(d);
                    }
                },
                "columns": [
                    {
                        "data": null, "orderable": false, "bSearchable": false, "className": "",
                        render: function (data, type, row) {
                            var checkbox = '<div class="ui fitted checkbox select_row">\n' +
                                '    <input type="checkbox" value="' + data['user_id'] + '">\n' +
                                '    <label></label>\n' +
                                '  </div>';
                            return checkbox;
                        }
                    },
                    {"data": "name", "orderable": false},
                    {"data": "email", "orderable": false},
                    {"data": "created_at", "orderable": true},
                    {
                        "data": null, "orderable": false,
                        render: function (data, type, row) {
                            var html = "";
                            if (data['activated'] === 1) {
                                html = "<i class='ui green check icon'></i>";
                            } else {
                                html = "<i class='ui red close icon'></i>";
                            }
                            return html;
                        }
                    },
                    {
                        "data": null, "orderable": false,
                        render: function (data, type, row) {
                            var html = "";
                            for (var i = 0; i < data['connected_accounts'].length; i++) {
                                html += "<a href='https://twitter.com/" + data['connected_accounts'][i] + "' target='_blank'>" + data['connected_accounts'][i] + "</a><br>";
                            }
                            return html;
                        }
                    },
                    {
                        "data": null, "orderable": true,
                        render: function (data, type, row) {
                            // Last Login date was added on this date (9 Aug 2018)
                            // Users that have not logged in after this, needs to be filtered out
                            if (data['last_login_timestamp'] < 1533772800) {
                                return "<span data-tooltip='Not available' data-position='left center'>N/A</span>";
                            }
                            return "<span data-tooltip='" + data['last_login_datetime'] + "' data-position='left center'>" + data['last_login'] + "</span><br>";
                        }
                    }
                ],
                "order": [[3, "desc"]],
            });
            $('#users_table').on('processing.dt', function (e, settings, processing) {
                if (processing) {
                    $('body').LoadingOverlay('show');
                } else {
                    $('body').LoadingOverlay('hide', true);
                    $('.ui.dropdown')
                        .dropdown()
                    ;
                    $('.' + bulk_select_identifier).checkbox('uncheck');
                    bindBulkActionSelector();
                }
            });
            $('#users_table_filter input').unbind();
            $('#users_table_filter input').change(function () {
                table.search($(this).val()).draw();
            });
        });

    </script>
{% endblock %}