<div class="ui left vertical inverted sidebar labeled icon menu purple" id="actions_sidebar">
    <i class="ui grey close icon float-left ml-3 mt-3" id="close_sidebar"></i>
    <div style="clear: both;"></div>
    <div class="ui hidden divider"></div>
    <a class="item" href="{{ url('admin_index') }}">
        <i class="dashboard icon"></i>
        Dashboard
    </a>

    <a class="item" href="{{ url('admin_site_users') }}">
        <i class="users icon"></i>
        Users
    </a>

    <a class="item" href="{{ url('dashboard_home') }}">
        <i class="arrow left icon"></i>
        Go back
    </a>
    <a class="item" href="{{ logout_path() }}">
        <i class="sign out icon"></i>
        Logout
    </a>
</div>