{% extends 'emails/base_emails.html.twig' %}
{% block body %}
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="600"
           class="container">
        <tr>
            <td width="100%" colspan="3" align="center"
                style="padding-bottom:10px;padding-top:25px;">
                <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable" align='center'>
                        <h2>Welcome to {{ website_title }}</h2>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td width="100">&nbsp;</td>
            <td width="400" align="center">
                <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable" align='left'>
                        <p>Hi {{ name }},
                            <br/>
                            <br/>
                            We have received an application for new account against your email address.
                            <br>
                            The account is successfully created at <a href="{{ website_url }}">{{ website_title }}</a>.
                            <br>
                            We need to verify the ownership of this email to associate it with new account.
                            <br>
                            You are one step away to activate your account.
                            <br>
                            Please click on the button below to verify and activate your account.
                        </p>
                    </div>
                </div>
            </td>
            <td width="100">&nbsp;</td>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="600"
           class="container">
        <tr>
            <td width="200">&nbsp;</td>
            <td width="200" align="center" style="padding-top:25px;">
                <table cellpadding="0" cellspacing="0" border="0" align="center"
                       width="200" height="50">
                    <tr>
                        <td bgcolor="#34495E" align="center"
                            style="border-radius:4px;" width="200" height="50">
                            <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" align='center'>
                                    <a target='_blank'
                                       href="{{ url('user_verification', {'activate': activation_key}) }}" class='link2'
                                       style="color: #ffffff">
                                        Activate
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="200">&nbsp;</td>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="600"
           class="container">
        <tr>
            <td width="100%" colspan="3" align="center"
                style="padding-bottom:10px;padding-top:25px;">
                <p>
                    You can also verify your email address by following this link:<br>
                    <a href="{{ url('user_verification', {'activate': activation_key}) }}">{{ url('user_verification', {'activate': activation_key}) }}</a>
                </p>
            </td>
        <tr>
            <td width="100%" colspan="3" align="center"
                style="padding-top:15px;">
                <p style="font-size: 12px;">
                    If you have not created this account, you can simply ignore/delete this email.
                </p>
            </td>
        </tr>
        </tr>
    </table>
{% endblock %}
