{% extends 'base.html.twig' %}
{% block title %}Dashboard{% endblock %}
{% block body %}
    Hello World!
    <br>
    {% if is_granted('ROLE_ADMIN') %}
        ROLE_ADMIN
    {% endif %}
    <br>

    {% if is_granted('ROLE_USER') %}
        ROLE_USER
    {% endif %}
    {{ app.user ? app.user.email : 'Aquanauts' }}
    <br>

    <br><br>
    {{ email }}
{% endblock %}
