{% extends 'base.html.twig' %}
{% block title %}
    {{ active_tab == 'profile' ? 'Profile' : '' }}
    {{ active_tab == 'password' ? 'Change password' : '' }}
    {{ active_tab == 'connected-accounts' ? 'Connected Twitter Accounts' : '' }}
{% endblock %}
{% block body %}
    <div class="ui grid p-0">
        <div class="row centered">
            <div class="fourteen wide column">
                <div class="ui tabular stackable menu purple inverted">
                    <a class="item {{ active_tab == 'profile' ? 'active' : '' }}" data-tab="profile"
                       href="{{ url('dashboard_settings',['tab', 'profile']) }}">
                        <i class="user icon"></i>
                        Profile
                    </a>
                    <a class="item {{ active_tab == 'password' ? 'active' : '' }}" data-tab="password"
                       href="{{ url('dashboard_settings',['tab', 'password']) }}">
                        <i class="lock icon"></i>
                        Password
                    </a>
                    <a class="item {{ active_tab == 'connected-accounts' ? 'active' : '' }}"
                       data-tab="connected-accounts"
                       href="{{ url('dashboard_settings',['tab', 'connected-accounts']) }}">
                        <i class="twitter icon"></i>
                        Connected Accounts
                    </a>
                    <a class="disabled item">
                        <i class="arrow alternate circle up icon"></i>
                        Upgrade (Free now)
                    </a>
                    <a class="disabled item">
                        <i class="dollar icon"></i>
                        Billing (Free now)
                    </a>
                </div>
                <div class="ui tab segment {{ active_tab == 'profile' ? 'active' : '' }}"
                     data-tab="profile" id="profile-tab">
                    <form class="ui medium fluid form" name="ProfileUpdate" id="_profile_update_form" method="POST"
                          action="{{ url('dashboard_settings') }}">
                        <div class="ui hidden divider"></div>
                        <div class="ui stackable grid">
                            <div class="row centered">
                                <div class="twelve wide column">
                                    <div class="ui header" style="color: #34495E;">
                                        <i class="user icon"></i>
                                        <div class="content">
                                            Update Account
                                            <div class="sub header"></div>
                                        </div>
                                    </div>
                                    <div class="ui divider"></div>
                                    <div class="two fields">
                                        <div class="field">
                                            <label for="user_update_firstName" class="required">First name</label>
                                            <input type="text" id="user_update_firstName" name="_first_name"
                                                   required="required"
                                                   value="{{ user.firstName }}">
                                        </div>
                                        <div class="field">
                                            <label for="user_update_lastName" class="required">Last name</label>
                                            <input type="text" id="user_update_lastName" name="_last_name"
                                                   required="required"
                                                   value="{{ user.lastName }}">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label for="user_update_email" class="required">Email</label>
                                        <input type="email" id="user_update_email" name="_email" required="required"
                                               value="{{ user.email }}">
                                        <div class="ui hidden warning message" id="user_update_email_message">
                                            <i class="close icon"></i>
                                            <div class="header">
                                                Changing your email address will result in
                                            </div>
                                            <ul class="list">
                                                <li>You will be logged out.</li>
                                                <li>Your account status will be set to non verified.</li>
                                                <li>You will have to verify your new email address to gain access to
                                                    your account.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="ui hidden divider"></div>
                                    <div class="ui hidden divider"></div>
                                    <div class="ui hidden divider"></div>
                                    <div class="ui divider"></div>
                                    <div class="field">
                                        <label for="user_update_plainPassword" class="required">Password to verify your
                                                                                                identity</label>
                                        <input type="password" id="user_update_plainPassword" name="_plain_password"
                                               required="required">
                                    </div>
                                </div>

                            </div>
                            <input type="hidden" name="form" value="profile"/>
                            <div class="row centered">
                                <div class="six wide column">
                                    <button class="ui fluid positive button" type="submit">Update my account</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="ui bottom attached tab segment {{ active_tab == 'password' ? 'active' : '' }}"
                     data-tab="password" id="password-tab">
                    <form class="ui medium fluid form" name="PasswordUpdate" id="_password_update_form" method="POST"
                          action="{{ url('dashboard_settings') }}">
                        <div class="ui hidden divider"></div>
                        <div class="ui stackable grid">
                            <div class="row centered">
                                <div class="twelve wide column">
                                    <div class="ui header" style="color: #34495E;">
                                        <i class="lock icon"></i>
                                        <div class="content">
                                            Change Password
                                            <div class="sub header"></div>
                                        </div>
                                    </div>
                                    <div class="ui divider"></div>

                                    <div class="field">
                                        <label for="user_old_plainPassword" class="required">Enter old password</label>
                                        <input type="password" id="user_old_plainPassword" name="_old_plain_password"
                                               required="required">
                                    </div>
                                    <div class="ui divider"></div>
                                    <div class="ui hidden divider"></div>
                                    <div class="field">
                                        <label for="user_new_plainPassword" class="required">Enter new password</label>
                                        <input type="password" id="user_new_plainPassword" name="_plain_password"
                                               required="required">
                                    </div>
                                    <div class="field">
                                        <label for="user_new_plainPassword2" class="required">Enter new password
                                                                                              again</label>
                                        <input type="password" id="user_new_plainPassword2" name="_plain_password2"
                                               required="required">
                                        <label id="_password_match_label"></label>
                                    </div>

                                </div>

                            </div>
                            <input type="hidden" name="form" value="password"/>
                            <div class="row centered">
                                <div class="six wide column">
                                    <button class="ui fluid positive button" type="submit">Update my account</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="ui bottom attached tab segment {{ active_tab == 'connected-accounts' ? 'active' : '' }}"
                     data-tab="connected-accounts" id="connected-accounts-tab">
                    <div class="ui hidden divider"></div>
                    <div class="ui stackable grid">
                        <div class="row centered">
                            <div class="twelve wide column">
                                <div class="ui header" style="color: #34495E;">
                                    <i class="twitter blue icon"></i>
                                    <div class="content">
                                        Connected Twitter Accounts
                                        <div class="sub header"></div>
                                    </div>
                                </div>
                                <div class="ui divider"></div>
                            </div>
                        </div>
                        <div class="row centered">
                            <div class="twelve wide column">
                                <div class="ui middle aligned relaxed divided list">
                                    {% if connected_accounts | length > 0 %}
                                        {% for authCred in connected_accounts %}
                                            <div class="item">
                                                <div class="content">
                                                    <div class="ui {{ authCred.enabled == false ? "red":"" }} segment">
                                                        <div class="ui comments float-left">
                                                            <div class="comment">
                                                                <a class="avatar"
                                                                   href="https://twitter.com/{{ authCred.twUsername }}"
                                                                   target="_blank">
                                                                    <img src="{{ authCred.twitterAccount.twProfileImage }}">
                                                                </a>
                                                                <div class="content">
                                                                    <a class="author"
                                                                       href="https://twitter.com/{{ authCred.twUsername }}"
                                                                       target="_blank">
                                                                        {{ authCred.twUsername }}
                                                                    </a>
                                                                    <div class="metadata mx-2">
                                                                        {% if authCred.enabled == false %}
                                                                            <i class="ui red warning sign icon"></i>
                                                                            <span style="color: red">Access is revoked.</span>
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="">
                                                                        <div class="metadata mx-0">
                                                                            @{{ authCred.twUsername }}
                                                                        </div>
                                                                        <div class="mx-0">
                                                                            <div class="metadata mx-0">
                                                                                <div class="statistic">{{ authCred.twitterAccount.twFollowersCount }}
                                                                                    Followers
                                                                                </div>
                                                                                <div class="statistic"> {{ authCred.twitterAccount.twFriendsCount }}
                                                                                    Following
                                                                                </div>
                                                                                <div class="statistic"> {{ authCred.twitterAccount.twStatusesCount }}
                                                                                    Statuses
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="remove_auth ui mini red button float-right my-1"
                                                                 sm-auths-id="{{ authCred.id }}"
                                                                 username="{{ authCred.twUsername }}">
                                                                Remove
                                                            </div>
                                                            {% if authCred.enabled == false %}
                                                                <a class="ui mini green button float-right my-1"
                                                                   href="{{ tw_oauth_url }}">Reconnect
                                                                </a>
                                                            {% endif %}
                                                        </div>
                                                        <div style="clear: both;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="item">
                                            <div class="content">
                                                Please connect your twitter account.
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="content mt-5">
                                    {% if connected_accounts|length >= tw_max_accounts %}
                                        <div class="ui green disabled button">
                                            <i class="ui linkify icon"></i>
                                            Connect Account
                                        </div>
                                    {% elseif connected_accounts|length > 0 %}
                                        <a href="{{ tw_oauth_url }}">
                                            <div class="ui green button">
                                                <i class="ui linkify icon"></i>
                                                Connect another account
                                            </div>
                                        </a>
                                    {% else %}
                                        <a href="{{ tw_oauth_url }}">
                                            <div class="ui green button">
                                                <i class="ui linkify icon"></i>
                                                Connect account
                                            </div>
                                        </a>
                                    {% endif %}

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#user_update_email').on('change', function () {
                if ($('#user_update_email').val() !== "{{ user.email }}") {
                    $('#user_update_email_message').removeClass('hidden');
                } else {
                    $('#user_update_email_message').addClass('hidden');
                }
            });
            $('#_password_update_form').submit(function (e) {
                if ($('#user_new_plainPassword').val() !== $('#user_new_plainPassword2').val()) {
                    e.preventDefault();
                    alert("Password does not match.");
                }
            });
            $('#user_new_plainPassword2, #user_new_plainPassword').keyup(function () {
                password1 = $('#user_new_plainPassword');
                password2 = $('#user_new_plainPassword2');
                label = $('#_password_match_label');
                if (password1.val() === password2.val() && password1.val() && password2.val()) {
                    label.html("Password Match");
                    password2.parent().removeClass('error');
                    label.css({'color': 'green'});
                } else {
                    label.html("Password does not Match");
                    password2.parent().addClass('error');
                    label.css({'color': 'red'});
                }
            });
            $('.remove_auth').confirm({
                title: 'Confirm!',
                content: 'Are you sure you want to remove this account?<br>No further stats will be saved.<br>This will delete your data including ' +
                '<br>(blacklists, whitelists).<br>' +
                '<p class="ui negative message"><i class="ui circle warning red icon"></i>This action is irreversible.</p>',
                backgroundDismiss: true,
                buttons: {
                    cancel: {
                        text: 'Cancel',
                        btnClass: 'ui button',
                        keys: ['esc'],
                        action: function () {
                            this.close();
                        }
                    },
                    delete: {
                        text: 'Confirm removal',
                        btnClass: 'ui red button',
                        keys: ['enter'],
                        action: function () {
                            $.LoadingOverlay("show");
                            var auths_id = this.$target.attr('sm-auths-id');
                            $.post("{{ url('dashboard_remove_auth') }}", {
                                id: auths_id
                            }, function (response) {
                                location.reload(true);
                            }).fail(function (response) {
                                $.LoadingOverlay("hide");
                                var response = jQuery.parseJSON(response.responseText);
                                new Noty({
                                    type: "error",
                                    text: "Error: " + response.error
                                }).show();
                            });
                        }
                    }
                }
            });

        });

    </script>
{% endblock %}