<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta HTTP-EQUIV="Pragma" content="no-cache">
    <meta HTTP-EQUIV="Expires" content="-1">

    <link rel="icon" type="image/x-icon" href="{{ asset('ManageTweeps_128.png') }}"/>
    <title>{% block title %}{{ website_title }}{% endblock %} - {{ website_title }}</title>


    {{ include('includes/styles.html.twig') }}
    {% block stylesheets %}  {% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59421033-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-59421033-6', {'site_speed_sample_rate': 10});
    </script>

    <script src="{{ asset('assets/external/JQuery/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
</head>
<body>

{# Left sidebar (Menu) #}
{{ include('includes/left_sidebar.html.twig') }}

{# Right sidebar (Account Related Settings) #}
{{ include('includes/right_sidebar.html.twig') }}

<div class="ui fixed inverted top menu purple" style="border-bottom: 1px solid #F1F4F5;">
    <div class="item">
        <button class="ui icon button left" id="show_actions_sidebar">
            <i class="sidebar icon"></i>
        </button>
    </div>
    <a class="item theme-grey-background" style="background: #F1F4F5 !important;"
       href="{{ url('dashboard_home') }}">
        <img class="ui image" src="{{ asset('ManageTweeps_256.png') }}" width="42">
    </a>
    {% set selectedAccoutMsg = render(controller('App\\Controller\\Dashboard\\DefaultController::getSelectedAccountNameAction')) %}
    {% if selectedAccoutMsg|length %}
    <div class="ui item right" style="visibility: hidden"></div>
    <div class="ui item">
        <a class="d-none d-sm-block d-md-block d-lg-block show_settings_sidebar">{{ selectedAccoutMsg }}</a>
    </div>

    <div class="ui dropdown item" id="show_settings_menu">
        {% else %}
        <div class="ui dropdown right item" id="show_settings_menu">
            {% endif %}
            <i class="ui user icon"></i>
            <i class="down caret icon"></i>
            <div class="inverted menu">
                <a class="item purple" href="{{ url('dashboard_settings') }}">
                    <i class="setting icon"></i>
                    Settings
                </a>
                <a class="item purple" href="{{ url('logout') }}">
                    <i class="sign out icon"></i>
                    Logout
                </a>
            </div>
        </div>
        <div class="item">
            <button class="ui icon button right" id="show_settings_sidebar">
                <i class="sidebar icon"></i>
            </button>
        </div>
    </div>
    <div id="page-loader" hidden>
        <div class="ui large loader text centered active inverted" id="loading-msg">Please wait</div>
    </div>
    <div class="ui main body area pusher w-100 px-0 px-sm-0 px-md-2 px-lg-5 mx-0 pt-3 pb-5">
        <div class="main-content">
            {% block body %}{% endblock %}
        </div>
        <div class="b-row">
            <div class="col-sm-10 col-md-10 col-lg-10 offset-sm-1 offset-md-1 offset-lg-1">
                <div class="ui center aligned padded stackable grid">
                    <div class="row">
                        <div class="twelve wide column left aligned">
                            <div class="ui info message">
                                <div class="content">
                                    <h1 class="header">

                                        <i class="smile icon big"></i>Stay tuned for more cool features!
                                    </h1>
                                    <p class="text-justify">
                                        If you are facing an issue, have any new feature in mind or any
                                        feedback/suggestion, do not hesitate to email us at
                                        <a href="mailto:info@managetweeps.com">info@managetweeps.com</a>
                                    </p>
                                    <p class="text-justify">
                                        We would love to hear from you.
                                    </p>
                                    <p>
                                        <a href="https://twitter.com/ManageTweeps?ref_src=twsrc%5Etfw"
                                           class="twitter-follow-button" data-show-count="false">
                                            Follow @ManageTweeps
                                        </a>
                                        <script async src="https://platform.twitter.com/widgets.js"
                                                charset="utf-8"></script>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer w-100 py-2 theme-cool-black-background">
        <span class="theme-white-color ml-4 d-none d-sm-inline d-md-inline d-lg-inline">
            © <a class="theme-white-color hover" href="{{ url('homepage') }}">Manage Tweeps</a> {{ "now"|date("Y") }}
        </span>

        <span class="theme-white-color float-right mr-5">
            <a class="theme-white-color hover" id="terms-and-conditions-link" href="{{ url('terms_conditions') }}"
               target="_blank">Terms and conditions</a>
        </span>
        <span class="theme-white-color float-right mr-3">
            <a class="theme-white-color hover" id="privacy-policy-link" href="{{ url('privacy_policy') }}"
               target="_blank">Privacy Policy</a>
        </span>
    </div>

    <!-- Scripts Below -->
    <div class="ui basic fullscreen modal" id="privacy-policy-modal">
        <i class="ui close icon" style="color: white"></i>
        {{ render(controller('App\\Controller\\DefaultController::pPRawAction')) }}
        <div class="actions mb-5">
            <div class="ui cancel button">Close</div>
        </div>
    </div>
    <div class="ui basic fullscreen modal" id="terms-and-conditions-modal">
        <i class="ui close icon" style="color: white"></i>
        {{ render(controller('App\\Controller\\DefaultController::tCRawAction')) }}
        <div class="actions mb-5">
            <div class="ui cancel button">Close</div>
        </div>
    </div>

    {{ include('includes/scripts.html.twig') }}
    <script>
        $(document).ready(function () {
            $('#privacy-policy-link').on('click', function (e) {
                e.preventDefault();
                $('#privacy-policy-modal').modal('show');
            });
            $('#terms-and-conditions-link').on('click', function (e) {
                e.preventDefault();
                $('#terms-and-conditions-modal').modal('show');
            });
        });
        {% for label, messages in app.flashes %}
        {% if label in ['error', 'warning', 'success', 'info'] %}
        {% for message in messages %}
        new Noty({
            type: "{{ label }}",
            text: '{{ message|raw }}'
        }).show();
        {% endfor %}
        {% endif %}
        {% if label == "noSelectedAccountWarning" %}
        {% for message in messages %}
        new Noty({
            type: "warning",
            text: "{{ message|raw }}",
            timeout: false,
            callbacks: {
                onClick: function () {
                    settings_sidebar('#settings_sidebar', 'show');
                }
            }
        }).show();
        {% endfor %}
        {% endif %}
        {% if label == "error_reauth" %}
        {% for message in messages %}
        new Noty({
            type: "error",
            text: "{{ message|raw }}",
            timeout: false,
            callbacks: {
                onClick: function () {
                    location.href = "{{ url('dashboard_settings', {'0':'tab', '1':'connected-accounts'})|raw }}";
                }
            }
        }).show();
        {% endfor %}
        {% endif %}
        {% endfor %}
    </script>
    {% block javascripts %}
    {% endblock %}

</body>
</html>

