<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta HTTP-EQUIV="Pragma" content="no-cache">
    <meta HTTP-EQUIV="Expires" content="-1">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description"
          content="{% block description %}Find who unfollowed you on twitter with simple yet advanced features to manage your account, be productive and become an influencer on Twitter. {% endblock %}"/>

    <link rel="icon" type="image/x-icon" href="{{ asset('ManageTweeps_128.png') }}"/>
    <title>{% block title %}{{ website_title }}{% endblock %} - {{ website_title }}</title>

    {{ include('includes/styles.html.twig') }}
    {% block stylesheets %}{% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59421033-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-59421033-6', {'site_speed_sample_rate': 10});
    </script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <style>
        .noty_theme__semanticui.noty_bar {
            border: none;
        }
    </style>
</head>
<body class="theme-cool-black-background">
{#<div id="bug-report-button" class="ui right attached icon red button" style="position: relative">#}
{#<i class="bug icon"></i>#}
{#Report#}
{#</div>#}
<div class="container main body area theme-cool-black-background"
     style="min-height:100%; padding-bottom: 50px; color: white;">
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    {% block body %}{% endblock %}
    <div class="ui hidden divider"></div>
</div>
<div class="py-2 theme-cool-black-background" style="display: table; margin: 0 auto;">
    <div class="ui info icon message">
        <i class="inbox icon"></i>
        <div class="content">
            <div class="header">
                Need help with something?
            </div>
            <p>Email us at <a href="mailto:info@managetweeps.com">info@managetweeps.com</a></p>
        </div>
    </div>
</div>

<!-- Scripts Below -->
<script src="{{ asset('assets/external/JQuery/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
{{ include('includes/scripts.html.twig') }}
<script>
    {% for label, messages in app.flashes %}
    {% if label in ['error', 'warning', 'success', 'info'] %}
    {% for message in messages %}

    new Noty({
        type: "{{ label }}",
        text: '{{ message|raw }}',
        timeout: false
    }).show();
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% if disabled_user is defined and disabled_user == true %}
    new Noty({
        type: "warning",
        text: "Didn't receive a confirmation email? <a href=\"{{ url('user_verification') }}\">Request a new one</a>",
        timeout: false
    }).show();
    {% endif %}
</script>
{% block javascripts %}{% endblock %}
</body>
</html>

